.itemPackaging {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    // background: var(--background-color-gifts);
    padding: 1rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
            width: 100px;

            // height: 100px;
            background: var(--border-color);
            margin: 1rem 1.5rem 1rem 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .productName {
            color: black;
            font-size: 1.4rem;
            font-weight: 600;
        }

        .price {
            color: var(--secondary-color);
            font-size: 1.4rem;
            font-weight: 600;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23%;

            button {
                background: var(--button-background-gifts);
                border: solid 1px var(--button-background-gifts);
                color: var(--button-color-gifts, #fff);
                font-size: 1.4rem;
                padding: 0.7rem 1.5rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .itemPackaging {    
        .product {
            flex-direction: column;
            gap: 1rem;

            .actions {
                width: 60%;
            }
        }
    }
}