
.openModal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: var(--theme-color);
    border: 0;
    border-radius: 0.4rem;
    color: #ffff;
    cursor: pointer;
    font-size: var(--font-medium-size);
    font-weight: 600;
    height: 40.5px;
    text-transform: uppercase;

    svg {
        font-size: 1.5rem;
    }
}