.checkoutProductsTable {
    width: 100%;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            background: var(--button-submit-background);
            border: var(--button-submit-background);
            color: var(--button-submit-color);
            width: 100%;
        }
    }

    .backLink{
        text-align: center;
        cursor: pointer;
    }

    .note {
        font-size: 1.5rem;
        text-align: center;
        color: #999;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        gap: 1rem;

        .right{
            display: flex;
            flex-direction: column;
            gap:2rem;
        }
    
        .clearCart{
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            margin-top: 1rem;
            text-align: right;
            text-decoration: underline;
            cursor: pointer;
        }

        .left {
            background: #f2f2f2;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 2rem;

            .cartFreeShipping {
                .content {
                    background-color: var(--free-shipping-background, green);
                    color: var(--free-shipping-color, #fff);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    gap: 15px;
                    font-size: 1.4rem;
                    border-radius: 0.5rem;
                    margin-top: 0;

                    svg {
                        font-size: 1.4rem;
                    }
                }
            }

            .title {
                color: var(--text-title-color);
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 20px;
                text-transform: uppercase;
            }

            .productShipping {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 1px solid var(--text-color);
                padding: 20px 0;

                input {
                    border: 1px solid var(--border-color);
                    border-radius: 0.4rem;
                    height: 35px;
                    padding: 1.2rem;
                    width: 50%;
                }

                button {
                    background: var(--button-background);
                    border-radius: 0.4rem;
                    padding: 1rem;
                    height: 35px;
                    width: 48%;
                }

                .shippingMethods {
                    margin-top: 1rem;
                    width: 100%;

                    .shipping {
                        display: flex;
                        align-items: center;
                        font-size: 1.4rem;
                        width: 100%;

                        p:nth-of-type(2) {
                            margin-left: 1rem;
                        }

                        p:last-of-type {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    header,
    .body .item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }

    .titlesItems {
        display: grid;
        grid-template-columns: 1.7fr 1fr 1fr 1fr 0.3fr;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        span:first-child {
            text-align: start;
        }

        .bold {
            font-weight: bold;
        }

        span {
            text-align: center;
        }
    }

    header {
        p {
            font-size: 1.4rem;
        }

        p:not(:first-of-type) {
            text-align: center;
        }
    }

    .packaging {
        .title {
            font-size: 2rem;
            text-align: center;
            padding: 3rem;
        }

        .packagingBody {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            background-color: #f2f2f2;
        }
    }

    .body {
        border: 1px solid var(--border-color);
        border-radius: 5px;

        .item {
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border-color);
            }

            .product {
                display: flex;
                align-items: center;

                .img {
                    max-width: 70px;
                    min-width: 70px;
                    margin-right: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                div {
                    .productName {
                        font-weight: 600;
                        font-size: 1.4rem;
                    }

                    .productDetails {
                        color: var(--text-color-secondary);
                        font-size: 1.4rem;
                        margin-top: 10px;
                    }
                }
            }

            .prices {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;

                .promotionalPrice {
                    text-decoration: line-through;
                }
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 30px;
                    user-select: none;

                    &.quantityContainer {
                        display: flex;
                    }

                    span {
                        padding: 0 20px;
                        cursor: pointer;
                    }

                    span.value {
                        cursor: default;
                        border-left: 1px solid var(--border-color);
                        border-right: 1px solid var(--border-color);
                    }

                    input.value {
                        border: 0 1px solid var(--border-color);
                        text-align: center;
                        max-width: 60px;
                    }
                }
            }

            .price {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--markup-color);
            }

            .actions, .actions2 {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1rem;
            }

            a,
            svg {
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    .subTotal {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }

        p:last-of-type {
            color: var(--text-title-color);
            margin-left: 2rem;
        }
    }

    .total {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }

        p:last-of-type {
            color: var(--text-title-color);
            margin-left: 2rem;
        }
    }

    .shipping {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    .dicount {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            align-items: center;

            span {
                font-size: 1rem;
                font-weight: normal;
                margin-left: 0.5rem;
            }
        }
    }

    .logins {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        text-align: center;
        margin: 2rem 0 .5rem 1rem;

        a {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            span {
                text-decoration: underline;
            }

            svg {
                font-size: 2rem;
            }
        }
    }

    .noProducts {
        font-size: 1.6rem;
        justify-content: center;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            font-size: 4rem;
            color: var(--text-color-secondary);
            margin-bottom: 2rem;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 1rem;

        .submit {
            display: none;
            background: var(--button-submit-background);
            color: var(--button-submit-color);
            border: 1px solid var(--button-submit-background);
        }

        button {
            background: var(--button-background);
            border-radius: 5px;
            color: var(--button-color);
            font-size: 15px;
            margin-right: 1rem;
            transition: all 0.5s ease;
            padding: 10px 20px;
            cursor: pointer;
            border: none;

            &:hover {
                opacity: 0.8;
            }
        }

        .cinza {
            display: flex;
            gap: 1rem;
            align-items: center;
            background: #f2f2f2;
            border: 1px solid transparent;
            color: #000;
        }
    }
}

@media only screen and (width <= 992px) {
    .checkoutProductsTable {
        .content {
            grid-template-columns: 1fr;
            margin-top: 0;

            .right {
                margin-top: 0;
            }

            .left {
                margin-top: 1rem;
            }
        }

        header,
        .body .item {
            display: flex;
            flex-direction: column;
        }

        header {
            display: none;

            p {
                font-size: 1.4rem;
            }

            p:not(:first-of-type) {
                text-align: center;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-color);

            .item {
                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .product {
                    display: grid;
                    grid-template-columns: 90px auto 30px;
                    align-items: flex-start;
                    gap: 1rem;
                    width: 100%;

                    .img {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        margin-right: 0;
                    }

                    .productInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.2rem;
                        width: 100%;

                        .productName {
                            font-size: 1.2rem;
                        }

                        .productDetails {
                            font-size: 1.2rem;
                            margin-top: 0;
                        }
                    }

                    svg {
                        font-size: 2rem;
                        cursor: pointer;
                    }

                    .price {
                        justify-content: flex-start;
                        font-size: 1.4rem;
                    }
                }

                .prices {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 0.5rem;
                    width: 100%;

                    .promotionalPrice {
                        font-size: 1.4rem;
                        text-decoration: line-through;
                    }

                    .priceTotal {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div {
                        border: 1px solid var(--border-color);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 30px;
                        user-select: none;

                        span {
                            padding: 0 20px;
                            cursor: pointer;
                        }

                        span.value {
                            cursor: default;
                            border-left: 1px solid var(--border-color);
                            border-right: 1px solid var(--border-color);
                        }
                    }
                }

                .actions{
                    justify-content: flex-start;
                    width: 100%;
                }

                .actions2 {
                    justify-content: center;
                    width: 100%;
                }
            }
        }

        .buttons {
            flex-direction: column;
            padding-top: 0;

            .submit {
                display: block;
            }

            button:not(:last-of-type) {
                margin-right: 0;
            }

            button {
                margin: 0;
                width: 100%;
            }
        }
    }
}

@supports not (display: grid) {
    .checkoutProductsTable {
        .body .item {
            display: flex;

            .product {
                width: 100%;
            }

            .quantity {
                width: 100%;
            }

            .price {
                width: 100%;
            }

            .actions, .actions2{
                width: 10%;
            }
        }
    }
}
