.loginPage {
    .content {
        width: 100%;
        padding: 0 5rem;
        max-width: var(--max-width);
        margin: 0 auto;
    }
}

@media only screen and (width <= 992px) {
    .loginPage {
        gap: 2rem;
    }
}