.avaliation {
    .content {
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        width: 100%;

        .text {
            color: black;
            font-size: 2rem;
            font-weight: 400;
            padding: 2rem;
            line-height: 2rem;
            text-align: center;
        }

        .products {
            border: 1px solid var(--border-color);
            border-radius: 10px;
            margin-bottom: 2rem;

            .item {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 1rem;

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .reoderBadge {
                    position: absolute;
                    right: 1.5rem;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    letter-spacing: 2px;
                    top: 1rem;
                    background-color: var(--theme-color);
                    color: white;
                }

                .product {
                    display: flex;
                    align-items: center;
                    width: 200%;

                    .img {
                        width: 100px;
                        background: var(--border-color);
                        margin-right: 15px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    div {
                        .productName {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        .productDetails {
                            font-size: 18px;
                            margin-top: 1rem;
                        }
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 1rem;

                    .label {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .value {
                        cursor: default;
                        font-size: 18px;
                    }

                    p {
                        display: none;
                    }
                }

                .price {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    .label {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .value {
                        font-size: 18px;
                    }
                }

                .price:nth-child(4) {
                    color: red;
                }

                .btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    line-height: 25px;

                    button {
                        background: #000;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 1.5rem;
                        padding: 1rem 2rem;
                        transition: all 0.35s ease;

                        // width: 25%;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .avaliation {
        .content {
            padding: 0 1rem;

            .text {
                color: black;
                font-size: 1.5rem;
                font-weight: 400;
                margin: 12rem 0 2rem;
                line-height: 2rem;
                text-align: center;
            }

            .products {
                border: 1px solid var(--border-color);

                .item {
                    // grid-template-columns: repeat(2, 1fr);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--border-color);
                    }

                    .product {
                        width: 100%;
                    }

                    .quantity {
                        margin-top: 10px;
                        justify-content: center;
                        width: 100%;
                    }

                    .price {
                        margin: 1rem 0;

                        p {
                            display: block;
                            margin: 0 1.5rem 0.5rem 0;
                        }
                    }

                    .btn {
                        width: 50%;
                        margin: 1rem 0;

                        button {
                            // margin-top: 1rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
