.modalMenuOverlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .modalMenu {
        position: absolute;
        top: 0;
        background: var(--background-body-cart-modal, #fff);
        height: 100%;
        width: 30vw;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .modalHeader{
            position: sticky;
            top: 0;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--background-body-cart-modal, #fff);
            border-bottom: solid 1px var(--border-color);            
            padding: 1rem;

            .closeIcon {
                // position: absolute;
                // width: 2.5rem;
                // height: 2.5rem;
                color: black;
                cursor: pointer;
                left: 1rem;
            }

            .center {
                display: flex;
                align-items: center;
                justify-content: center;

                .title {
                    color: black;
                    font-size: 1.6rem;
                    font-weight: bold;
                    margin-right: 10px;
                    margin-top: 0.5rem;

                    // text-transform: uppercase;
                }
            }
        }

        .cartGifts{
            background: var(--background-color-gifts, #f7f7f7);            
            border-bottom: solid 1px var(--border-color);
        }

        .cartFreeShipping{
            // position: sticky;
            // top: 5.2rem;
            // z-index: 99;
            display: grid;
            align-items: center;
            justify-content: center;
            background: #f7f7f7;
            border-bottom: solid 1px var(--border-color);
            color: #000;
            padding: 1rem;
            font-size: 1.3rem;
            font-weight: bold;

            .content {
                display: flex;
                align-items: center;
                gap: .5rem;
            }       

            .center {
                display: flex;
                align-items: center;
                justify-content: center;

                .title {
                    color: black;
                    font-size: 1.6rem;
                    font-weight: bold;
                    margin-right: 10px;
                    margin-top: 0.5rem;

                    // text-transform: uppercase;
                }
            }
        }

        .products {
            width: 100%;
            max-width: var(--max-width);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            // padding: 0 30px;
        }
    }

    .modalMenu::-webkit-scrollbar {
        width: 0.5rem; /* width of the entire scrollbar */
    }

    .modalMenu::-webkit-scrollbar-thumb {
        background-color: black; /* color of the scroll thumb */
        border-radius: 1rem; /* roundness of the scroll thumb */
    }
}

//SMARTPHONE
@media only screen and (width <= 992px) {
    .modalMenuOverlay {
        position: fixed;
        inset: 0;
        background: rgb(0 0 0 / 50%);        
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 9999;

        .modalMenu {
            width: 100%;

            .modalHeader {
                display: flex; 
                align-items: center;
                justify-content: space-between;
                padding: 1.5rem;

                .modal-close-menu {
                    position: absolute;
                    width: 2.5rem;
                    height: 2.5rem;
                    color: black;
                    cursor: pointer;
                }

                .center {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    .title {
                        color: black;
                        font-size: 1.4rem;
                        font-weight: bold;

                        // text-transform: uppercase;
                    }
                }
            }

            .products {
                width: 100%;
                max-width: var(--max-width);
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;

                .product {
                    display: grid;
                    grid-template-columns: 35% 51% 16%;
                    gap: 10px;

                    img {
                        width: 90%;
                        height: auto;
                        object-fit: cover;
                    }

                    .descriptionProduct {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .title {
                            color: black;
                            font-size: 2rem;
                            font-weight: bold;
                        }

                        .description {
                            color: gray;
                            font-size: 1.5rem;
                        }

                        .price {
                            color: black;
                            font-size: 2rem;
                            font-weight: 700;
                            margin-top: 1.5rem;
                        }

                        .button {
                            background: var(--primary-color);
                            border: none;
                            border-radius: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 2rem;
                            padding: 0.5rem 0;
                            width: 55%;

                            svg {
                                width: 1.5rem;
                                height: auto;
                                cursor: pointer;
                            }

                            .number {
                                color: black;
                                font-size: 1.8rem;
                                font-weight: 600;
                            }
                        }
                    }

                    svg {
                        color: black;
                        width: 2rem;
                        height: auto;
                        cursor: pointer;
                    }
                }

                .divisor {
                    border: 1px solid gray;
                    margin: 50px 0;
                    width: 100%;
                }
            }
        }
    }
}
