.commentsPerson {
    margin: 5rem 0;

    span {
        line-height: 25px;
    }

    .nameDate {
        color: black;
        font-size: 18px;
        font-weight: 500;
    }

    .avaliation {
        margin: 10px 0;
    }

    .description {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .question {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        .text {
            color: gray;
            font-size: 18px;
            margin-right: 8px;
        }

        svg {
            width: 18px;
            height: auto;
            margin-right: 5px;
            transition: all 0.5s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        .number {
            color: #000;
            font-weight: 600;
            margin-right: 5px;
        }
    }
}

@media only screen and (width <= 992px) {
    .commentsPerson {
        padding: 0 1.5rem;
    }
}
