.productItemSkeletonPerfil {
    width: 100% !important;

    .productImage {
        span {
            border-radius: 0.3rem;
            color: #333;
            font-size: 1.2rem;
            font-family: "SF UI Text Semibold";
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    .skeletonBody {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-bottom: 1rem;

        .productActions {
            span {
                font-size: 1.2rem;
                font-family: "SF UI Text Semibold";
                font-weight: bold;
                color: #333;
            }
        }
    }
}
