.menuTypeMobile {
    width: 100%;

    p {
        color: var(--text-color, black);

        a {
            color: var(--text-color, black);
        }
    }

    // .itemText {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     flex-direction: row;
    //     border-bottom: 1px solid gray;
    //     font-size: 1.6rem;
    //     padding: 1.5rem 1.5rem;
    //     width: 100%;

    //     svg {
    //         font-size: 2rem;
    //         margin-right: 0.5rem;

    //         &:nth-child(2) {
    //             margin-left: auto;
    //             margin-right: 0;
    //         }
    //     }
    // }

    p > a {
        text-decoration: none;
    }

    a {
        display: block;

        /* align-items: center; */

        /* justify-content: space-between; */

        /* flex-direction: row; */
        color: black;
        font-size: 1.6rem;
        padding: 1.5rem 1rem;
        width: 100%;
    }

    li {
        width: 100%;

        .subMenuNavigation {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            font-size: 1.6rem;
            padding: 1.5rem 1rem;
            width: 100%;

            // border-bottom: none !important;

            a {
                color: black;
            }
        }

        .subMenuChildren {
            display: flex;
            flex-direction: column;

            //padding-left: 1.5rem;
            width: 100%;

            p {
                padding: 0 1rem !important;
            }

            a {
                color: black;
            }
        }
    }
}
