.modalRecompra {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    .container {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 80%;
        background: white;
        border-radius: 5px;

        .closeIcon {
            position: relative;
            top: 0.5rem;
            display: flex;
            color: white;
            font-size: 2rem;
            z-index: 10;

            img {
                position: absolute;
                right: 1.5rem;
                cursor: pointer;
                margin-top: 0.5rem;
            }
        }

        .content {
            // padding: 1.5rem;
            overflow-y: auto;

            h1 {
                position: sticky;
                top: 0;
                z-index: 5;
                background-color: black;
                border-radius: 0.5rem 0.5rem 0 0;
                color: white;
                font-size: 2.3rem;
                padding: 1rem;
                text-align: center;
            }

            .paymentMethods {
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;
                padding: 0 1.2rem;

                .shippingOption,
                .paymentOption {
                    font-size: 14px;
                    border: 1px solid var(--border-color);
                    background: transparent;
                    width: 100%;
                    padding: 15px;
                    border-radius: 4px;
                    margin: 0 0 2rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    img {
                        min-width: 20px;
                        margin-right: 10px;
                        font-size: 20px;

                        &.check {
                            display: none;
                        }
                    }

                    &.active {
                        color: white;
                        background: black;

                        img {
                            display: flex;
                            color: white;

                            &.check {
                                display: flex;
                            }

                            &.noCheck {
                                display: none;
                            }
                        }
                    }
                }
            }

            .title {
                font-size: 1.8rem;
                font-weight: 600;
                margin: 2rem 0;
                padding: 0 1.2rem;
            }

            .form {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 20px;
                padding: 0 1.2rem;

                .formItem {
                    width: 49%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;

                    label {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: var(--text-color);
                    }

                    .formSelects {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 5px;
                        font-size: 1.4rem;

                        // z-index: 10;
                    }

                    span.subtitle {
                        font-size: 12px;
                        margin-bottom: 5px;
                    }

                    input {
                        border: 1px solid var(--border-color);
                        border-radius: var(--border-radius);
                        padding: 12px;
                        height: 37.8px;
                    }

                    input::placeholder {
                        font-size: 1.4rem;
                    }

                    div {
                        // display: flex;
                        align-items: center;

                        label {
                            font-size: 14px;
                            color: var(--theme-color);
                            margin-left: 10px;
                        }

                        input {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .selectOption {
                    width: 49%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    font-size: 14px;

                    label {
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: var(--text-color);
                    }
                }

                .formItemTitle {
                    width: 100%;
                    margin: 20px 0;
                    font-size: 18px;
                    font-weight: 600;
                }

                .errorMessage {
                    display: flex;
                    align-items: center;
                    color: red;
                    font-size: 12px;
                    width: 100%;
                    position: relative;
                    margin: 0.5rem 0;

                    img {
                        width: 15px;
                        height: 15px;
                        top: 0;
                        left: 0;
                        position: relative;
                        margin-right: 0.5rem;
                    }
                }

                .shippingOption,
                .paymentOption {
                    font-size: 14px;
                    border: 1px solid var(--border-color);
                    background: transparent;
                    width: 100%;
                    padding: 15px;
                    border-radius: 4px;
                    margin: 0 0 2rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    img {
                        margin-right: 10px;
                        font-size: 20px;

                        &.check {
                            display: none;
                        }
                    }

                    &.active {
                        color: white;
                        background: black;

                        img {
                            display: flex;
                            color: white;

                            &.check {
                                display: flex;
                            }

                            &.noCheck {
                                display: none;
                            }
                        }
                    }
                }
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 4rem;
                gap: 16px;
                padding: 0 16px;

                button {
                    border: none;
                    border-radius: 0.5rem;
                    padding: 1rem;
                    width: 50%;
                    transition: all 0.35s ease;

                    &.submit {
                        background: var(--button-background);
                        color: var(--button-submit-color);
                        color: #fff;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }

        .contentInformation {
            height: 100%;

            h1 {
                position: sticky;
                top: 0;
                z-index: 100;
                background-color: black;
                border-radius: 0.5rem 0.5rem 0 0;
                color: white;
                font-size: 2.3rem;
                padding: 1rem;
                text-align: center;
            }
            
            .test {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .confimationPayment {
                    .confirmationTitle {
                        font-size: 1.8rem;
                        font-weight: 600;
                        margin: 2rem 0;
                        padding: 0 1.2rem;
                        text-align: center;
                    }
                }

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 4rem;
                    gap: 16px;
                    padding: 0 16px;
                    width: 80%;
    
                    button {
                        border: none;
                        border-radius: 0.5rem;
                        padding: 1rem;
                        width: 100%;
                        transition: all 0.35s ease;
    
                        &.submit {
                            background: var(--button-background);
                            color: var(--button-submit-color);
                            color: #fff;
                        }
    
                        &:hover {
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .container::-webkit-scrollbar {
        width: 0.4rem; /* width of the entire scrollbar */
    }

    .container::-webkit-scrollbar-thumb {
        background-color: black; /* color of the scroll thumb */
        border-radius: 1rem; /* roundness of the scroll thumb */
    }
}

@media only screen and (width <= 992px) {
    .modalRecompra {
        .container {
            width: 100%;
            height: 90%;

            .content {
                .form {
                    flex-direction: column;

                    .formItem {
                        width: 100%;
                    }
                }
            }
        }
    }
}
