.dealerPage {
    .desk {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mobile {
        display: none;
    }

    .content {        
        width: 100%;
        margin: 0 auto;
        padding: 0 5rem;

        .contentWrapper{
            max-width: var(--max-width);
            width: 100%;   
            margin: 0 auto;                     
        }

        .dealerContent {
            width: 100%;            
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4rem 0;

            img {
                height: auto;
                width: 100%;
            }

            h2 {
                padding: 4rem 0;
                font-size: 3rem;
            }

            h3,
            h4 {
                font-size: 2.5rem;
                padding-bottom: 2.5rem;
                width: 100%;
                text-align: start;
            }

            p {
                width: 100%;
                font-size: 1.6rem;
                text-align: left;
                margin-bottom: 1.5rem;
            }

            ul {
                width: 100%;

                li {
                    span {
                        width: 100%;
                        font-size: 1.6rem;
                        text-align: left;
                        margin-bottom: 1.5rem;
                    }
                }
            }

            .banner {
                width: 100%;
                height: auto;
                margin: 5rem 0;
            }
        }

        form {            
            .inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;

                .formItem {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    // padding: 1rem;
                    flex: 50%;

                    label {
                        font-size: 1.6rem;
                        color: var(--text-color);
                        margin-bottom: 0.5rem;
                        font-weight: 500;
                    }
                }
            }

            .btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2.5rem 0;

                button {
                    background: var(--button-submit-background);
                    color: var(--button-submit-color);
                    border: 1px solid var(--button-submit-background);
                    font-size: 1.8rem;
                    width: 100%;;
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .dealerPage {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .desk {
            display: none;
        }

        .mobile {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 2.2rem;
        }

        .content {
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 0 1.5rem;

            .dealerContent {
                .banner {
                    width: 100%;
                    height: auto;
                    margin: 3rem 0;
                }

                img {
                    height: auto;
                    width: 50%;
                }
            }

            form {
                width: 100%;

                .inputs {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
