.commentItem {
    margin-top: 4rem;

    .content {
        .comment {
            .top {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .avaliation{
                    line-height: 30px;
                }

                .userDatas {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    svg {
                        font-size: 3rem;
                    }

                    .published {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;

                        p {
                            color: black;
                            font-size: 1.5rem;
                        }

                        .informationProdut {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .nameProduct {
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            .variants {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                            }
                        }
                    }
                }
            }

            .description {
                color: #000;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2rem;
                margin-top: 1rem;
                margin-left: 4rem;
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .commentItem {
        .content {
            .comment {
                .top {
                    .userDatas {
                        .published {
                            .name {
                                display: flex;
                                flex-direction: column;                                
                                font-size: 1.5rem;

                                small { 
                                    display: none;
                                }
                            }

                            .informationProdut {
                                flex-direction: column;
                                align-items: flex-start;
                                
                                p {
                                    font-size: 1.5rem;
                                }

                                .variants {
                                    p {
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .description {
                    font-size: 1.2rem;
                    margin-left: 0;
                }
            }
        }
    }
}
