.content {
    position: relative;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;

    // .container {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-end;
    //   gap: 1.5rem;

    //   .whatsAppIcon {
    //     color: red;
    //     font-size: 3rem;
    //     z-index: 99;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     cursor: pointer;
    //     animation: 0.5s showUp ease-in-out backwards;
    //     animation-delay: 2s;

    //     svg {
    //       padding: 0.5rem;
    //       color: white;
    //     }

    //     &::before {
    //       position: absolute;
    //       // left: 50%;
    //       // top: 50%;
    //       // transform: translate(-50%, -50%);
    //       content: "";
    //       display: block;
    //       background: #25d366;
    //       border-radius: 20rem;
    //       width: 4rem;
    //       height: 4rem;
    //       z-index: -1;
    //     }
    //   }

    //   .pinterestIcon {
    //     @extend .whatsAppIcon;

    //     &::before {
    //       background: #e60023 !important;
    //     }
    //   }
    //   .facebookIcon {
    //     @extend .whatsAppIcon;

    //     &::before {
    //       background: #4267b2 !important;
    //     }
    //   }
    //   .instagramIcon {
    //     @extend .whatsAppIcon;

    //     &::before {
    //       background: linear-gradient(
    //         45deg,
    //         #405de6,
    //         #5851db,
    //         #833ab4,
    //         #c13584,
    //         #e1306c,
    //         #fd1d1d
    //       ) !important;
    //     }
    //   }
    // }

    //vars
    $fg: #00bcd4;
    $bg: #673ab7;
    $pi: 3.14;

    //config
    $menu-items: 4;
    $open-distance: 105px;
    $opening-angle: $pi * 2;

    body {
        background: $bg;
        color: white;
        text-align: center;
    }

    a {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 3em;
    }
    %goo {
        //filter: url("#shadowed-goo");
        // debug
        //background:rgba(255,0,0,0.2);
    }
    %ball {
        background: #adaaa1;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;

        //margin-left: -40px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        text-align: center;

        //line-height: 80px;
        transform: translate3d(0, -40, 0);
        transition: transform ease-out 200ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuopen {
        display: none;
    }
 
    .menu {
        @extend %goo;

        position: absolute;

        $width: 650px;
        $height: 150px;

        //margin-left: -80px;
        //padding-top: 20px;
        //padding-left: 80px;
        //width: $width;
        //height: $height;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;

        .pinterestIcon {
            background: #e60023;
        }

        .facebookIcon {
            background: #4267b2;
        }

        .whatsappIcon {
            background:  #25d366;
        }

        .instagramIcon {
            background: linear-gradient(
                45deg,
                #405de6,
                #5851db,
                #833ab4,
                #c13584,
                #e1306c,
                #fd1d1d
            );
        }
    }

    .menuitem {
        bottom: -40px;

        &:hover {
            background: white;
            color: $fg;
        }

        @for $i from 1 through $menu-items {
            &:nth-child(#{$i + 2}) {
                transition-duration: 180ms;
            }
        }
    }

    .menuopenbutton {
        @extend %ball;

        z-index: 2;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 400ms;
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
    }

    .menuopenbutton:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .menuopen:checked + .menuopenbutton {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);    
    }

    .menuopen:checked ~ .menuitem {
        bottom : 0;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        @for $i from 1 through $menu-items {
            &:nth-child(#{$i + 2}) {
                transition-duration: 90ms + (100ms * $i);
                transform: translate3d(0, 5rem * -$i, 0);
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .trackingModal {
        .content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 4px;
            padding: 0 15px;

            .message {
                text-align: left;
                font-size: 18px;
                margin-bottom: 20px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
