* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
}

.main{
    font-family : var(--font-manrope), var(--font-open-sans), sans-serif !important;
}

.grecaptcha-badge{
    display: none !important;
}

@media only screen and (width >= 1250px) {
    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(155 155 155 / 50%) transparent;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(155 155 155 / 50%);
            border-radius: 20px;
            border: transparent;
        }
    }
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --max-width: 1140px;
    --theme-color: #000;
    --text-color: #212121;
    --markup-color: #ff4800;
    --primary-color : #000;
    --text-color-primary : #fff;
    --page-padding: 30px;
    --mobile-padding: 15px;
    --text-title-color: #2b2b2b;
    --image-background: #d8d8d8;
    --secondary-color: #5d9dd3;
    --text-color-secondary: #a6a6a6;
    --border-color: #aeaeae;
    --sale-price-color: #f00;
    --background-black:#262626;
    --background-checkout-button:#262626;
    --color-checkout-button:#FFF;
    --button-background:#212121;
    --button-color:#FFF;
    --button-submit-background:#5d9dd3;
    --button-submit-color:#FFF;
}

html {
    font-size: 62.5%;

    /* @media only screen and (max-width: 1200px) { 
    font-size: 56.25%;
  };    
  
   
  @media only screen and (min-width: 1800px) {  
    font-size: 75%; 
  };       */
}

body,
input,
textarea,
select,
button {
    font-size: 1.6rem;
    line-height: 1.6rem;

    //font: 400 1rem Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--markup-color);
}

// .footer,
// .header,
// .header-sticky,
// .content,
// .journal-title,
// .container {
//   padding: 0 30px;

//   @media only screen and (max-width: 720px) {
//     padding: 0 15px;
//   }
// }

.pretty{
    .state{
        label{
            margin: 0 !important;
        }
    }    
}

.orderApprovedAlert{
    button{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background: #333;
        color: #fff;
        border: none;
        font-size: 14px;
        cursor: pointer;  
    }
}

.toast-custom{
    button {
        width: 100%;
        margin-top: 15px;
        border: #333 solid 1px;
        height: 3rem;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.6rem;
        transition: all 0.5s ease;
        background: var(--button-background);
        color: var(--button-color);

        &:hover {
            opacity: 0.7;
        }
    }
}

button[type="button"] {
    height: 40px;
    padding: 10px 50px;
    color: white;
    background: var(--theme-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--theme-color);
    border-radius: 0.4rem;
    transition: all 0.35s ease;

    &:hover {
        filter: brightness(0.75);
    }
}

.Toastify {
    z-index: 99999999;

    .Toastify__toast--success {
        background: var(--text-color);
        color: white;
    }
    
    button {
        padding: 0;
        background: none;
        border: 0;
    }
}

textarea {
    font-family: inherit;
    font-size: 16px;
    padding: 15px;
    color: var(--text-color);

    &::placeholder {
        color: var(--text-color);
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.Toastify__close-button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--white);
    background: none !important;
}

.Toastify__toast-body {
    font-size: 1.4rem;

    //font-family: Roboto;
}

input {
    font-size: 1.6rem;
    border-radius: 0.4rem;
    border: 1px solid var(--text-color);
    outline: none;
    padding: 12px 15px;
    width: 100%;
}

.MuiCheckbox-root {
    padding: 0 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: var(--text-color) !important;
}

.MuiSvgIcon-root {
    width: 3rem !important;
    height: 3rem !important;
}

.MuiStepIcon-text {
    fill: #fff;
    font-size: 12px !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active {
    color: var(--theme-color) !important;
}

span.MuiStepLabel-label {
    font-size: 1.2rem;
}

div.MuiStep-root.MuiStep-horizontal {
    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
    }
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: darkgreen !important;
}

.MuiPaper-root {
    background: white !important;
}

.MuiButton-label {
    text-transform: none;
}

.product-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .slick-prev {
        top: 40%;
        left: 2%;
    }

    .slick-next {
        top: 40%;
        right: 2%;
    }

    .slick-list {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .product-image {
        width: 100%;
        height: auto;
        cursor: pointer;
        position: relative;
        transition: all 0.35s ease;
        padding: 0 1rem;
    }

    .product-name {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 15px;
    }

    .product-price {
        text-align: center;
        font-size: 16px;
        margin: 10px 0;
        font-weight: 100;
    }

    .slick-dots.slick-thumb {
        position: relative;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        overflow: auto hidden;
        padding-inline-end: 0;
        bottom: unset;

        li {
            height: 3.5rem;

            &:not(:last-of-type) {
                margin-right: 2rem;
            }

            img {
                width: 3.5rem;
                height: 3.5rem;
                border: 2px solid var(--border-color);
                padding: 5px;
                border-radius: 3rem;
                object-fit: cover;
            }

            &.slick-active {
                img {
                    border: 2px solid var(--blue);
                }
            }
        }
    }
}

.product-details {
    display: grid;

    .slick-arrow.slick-prev {
        left: 10px;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 100px;
        z-index: 2;
    }

    .slick-arrow.slick-next {
        width: 30px;
        height: 30px;
        right: 10px;
        background: white;
        border-radius: 100px;
    }

    .slick-dots {
        position: relative;
        bottom: 0;

        li button::before {
            font-size: 1rem;
        }
    }

    .product-image {
        width: 100%;
        height: auto;
        cursor: pointer;
        position: relative;
        transition: all 0.35s ease;
    }
}

.iiz__zoom-portal {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerSlider {
    width: 100%;

    .slick-dots {
        bottom: 1rem;
    }

    .slick-prev {
        width: 3rem;
        height: 3rem;
        left: 50px;
        z-index: 1;
        color: var(--text-color);

        @media only screen and (width <= 1024px) {
            left: 15px;
            background: white;
            padding: 0.5rem;
            border-radius: 50rem;
        }
    }

    .slick-next {
        width: 3rem;
        height: 3rem;
        right: 50px;
        color: var(--text-color);

        @media only screen and (width <= 1024px) {
            right: 15px;
            background: white;
            padding: 0.5rem;
            border-radius: 50rem;
        }
    }

    .banner {
        background: var(--gray300);
        height: auto;
        width: 100%;

        .bannerDesk {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .bannerMobile {
            display: none;
        }

        @media only screen and (width <= 1024px) {
            .bannerDesk {
                display: none;
            }

            .bannerMobile {
                display: flex;
                width: 100%;
                min-height: 250px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.storeSlider {
    width: calc(100% + 1rem);

    .slick-dots {
        bottom: 1rem;
    }

    .slick-prev {
        width: 3rem;
        height: 3rem;
        left: 0;
        z-index: 10;
        color: var(--text-color);

        @media only screen and (width <= 1024px) {
            width: 2rem;
            height: 2rem;
        }
    }

    .slick-next {
        width: 3rem;
        height: 3rem;
        right: 0;
        color: var(--text-color);

        @media only screen and (width <= 1024px) {
            width: 2rem;
            height: 2rem;
        }
    }

    .store {
        height: 10rem;
        padding-right: 1rem;

        img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media only screen and (width <= 1024px) {
            height: 4rem;
        }
    }
}

.categorySlider {
    width: calc(100% + 1rem);

    .slick-dots {
        bottom: 1rem;
    }

    .slick-prev {
        left: -10px;
        z-index: 1;
        width: 3rem;
        height: 3rem;
        background: white;
        border-radius: 2rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
        color: var(--text-color);
    }

    .slick-next {
        width: 3rem;
        height: 3rem;
        right: 0;
        background: white;
        border-radius: 2rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
        color: var(--text-color);
    }

    // .slick-track {
    // }

    // .slick-slide {
    // }

    .category {
        cursor: pointer;

        p {
            margin-right: 1rem;
            border-radius: 0.8rem;
            padding: 1.5rem 1rem;
            background: var(--gray300);
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 13px;
        }
    }
}

.mostViewedSlider {
    width: calc(100% + 10px);

    .slick-dots {
        bottom: 1rem;
    }

    .slick-prev {
        width: 3rem;
        height: 3rem;
        left: -10px;
        z-index: 1;
        background: white;
        border-radius: 2rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
        color: var(--text-color);
    }

    .slick-next {
        width: 3rem;
        height: 3rem;
        right: 0;
        background: white;
        border-radius: 2rem;
        padding: 0.5rem;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
        color: var(--text-color);
    }

    .slick-slide > div {
        margin-right: 1rem !important;
    }
}

.reviewSlider {
    width: calc(100% + 10px);

    .slick-dots {
        display: none;
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-slide {
        > div {
            margin-right: 10px;
        }
    }

    .review {
        > div {
            background: var(--gray300);
            padding: 1rem 1.5rem;
            border-radius: 1rem;

            .top {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                > svg {
                    font-size: 3rem;
                    background: var(--gray600);
                    border-radius: 2rem;
                    padding: 0.8rem;
                    margin-right: 1rem;
                }

                .name {
                    p {
                        color: var(--text-color);
                        font-weight: 500;
                        margin-bottom: 0.2rem;
                    }

                    span {
                        color: var(--gray800);
                        font-weight: 500;
                    }
                }

                .rate {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }

            .reviewText {
                width: 100% !important;
                padding: 4rem 0;
                font-size: 1.4rem;
                font-weight: 100;
                line-height: 1.8rem;
                color: var(--text-color);
            }
        }
    }
}

// .productSlider {
//   width: 100%;

//   .slick-dots {
//     display: none;
//   }

//   .slick-prev {
//     width: 3rem;
//     height: 3rem;
//     left: 0px;
//     z-index: 10;
//     color: var(--text-color);
//   }

//   .slick-next {
//     width: 3rem;
//     height: 3rem;
//     right: 0px;
//     color: var(--text-color);
//   }

//   .slick-slide {
//     > div {
//       height: auto;
//     }

//     @media only screen and (max-width: 1024px) {
//       > div {
//         height: auto;
//       }
//     }
//   }

//   .productSlide {
//     height: 100%;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       object-position: top;
//     }
//   }
// }

.chakra-checkbox {
    span {
        display: flex;
        align-items: center;
        font-size: 1.6rem !important;
        font-weight: 300;
    }

    span:first-of-type {
        width: 2rem;
        height: 2rem;

        &[data-focus] {
            box-shadow: none;
        }

        &[data-checked] {
            background: var(--text-color);
            border-color: var(--text-color);
            color: var(--chakra-colors-white);
        }
    }
}
