.carouselTopHeader {
    background-color: var(--background-top-header, white);
    color: var(--color-top-header, black);

    //border-top: 1px solid #e5e5e5;
    padding: 0.9rem;
    height: var(--height-header, 35px);
    font-size: var(--font-size-header, 1.5rem);

    .marquee{
        overflow: hidden;       
    }

    .item{
        display: flex;
        border-right: 1px solid var(--color-top-header, black);
        padding: 0 2rem;

        &.last{
            border: none;
        }
    }
}

@media only screen and (width <= 992px) {
    .carouselTopHeader {
        font-size: 1.3rem;
    }
}
