@import "https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap";

.timeExpired {
    background: var(--background-countdown);
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 100%;

    .titleCountdown {
        color: var(--text-color-countdown);
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: center;
        width: 100%;
    }
}

.customCountdown {
    width: 100%;
    margin-bottom: 3rem;

    .countdownContent {
        width: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--background-countdown) !important;
        border-radius: 8px;

        .titleCountdown {
            color: var(--text-color-countdown);
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin: 1rem 0;
            text-align: center;
        }

        .numbersCountdown {
            display: flex;

            .hide {
                display: none;
            }
      
            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background: var(--background-countdown) !important;

                // border-radius: 8px;
                border: none;

                // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.222);
                color: var(--text-color-countdown) !important;
                font-size: 3.5rem;
                line-height: 40px;
                font-family: Rajdhani, sans-serif;
                font-weight: 500;
                padding: 1.5rem;
                width: 10rem;
                height: 10rem;

                small {
                    color: var(--text-color-countdown) !important;
                    font-size: 20px;
                }
            }
        }

        span:first-child {
            border-radius: 8px 0 0 8px;
        }

        span:last-child {
            border-radius: 0 8px 8px 0;
        }

        .separator {
            margin: 0 30px;
            height: 50px;
            border-right: 1px solid #f0f1f3;
        }
    }
}

@media only screen and (width <= 992px) {
    .customCountdown {
        .countdownContent {
            padding: 1rem;
            flex-direction: column;

            .titleCountdown {
                line-height: 3rem;
            }

            .numbersCountdown {
                span {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 35px;
                    line-height: 40px;
                    font-family: Rajdhani, sans-serif;
                    font-weight: 500;
                    padding: 1rem;
                    border-radius: 8px;
                    color: #212121;

                    // box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
                    width: 8rem;

                    small {
                        font-size: 19px;
                        color: #212121;
                    }
                }
            }

            .separator {
                margin: 30px 0;
                width: 50%;
                height: 1px;
                border-right: 0 solid #f0f1f3;
                border-bottom: 1px solid #f0f1f3;
            }
        }
    }
}
