.popupModal {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 30%) !important;
    transform: translateZ(0) !important;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100) !important;
    width: 100vw !important;
    visibility: visible !important;
    z-index: 9999 !important;

    section {
        position: relative;
        width: 400px;
        height: 66%;
        display: flex; 
        align-items: center;
        flex-direction: column;
        overflow: auto;
        
        @media only screen and (width <= 992px) {
            width: 90%;
        }

        @media only screen and (width <= 375px) {
            width: 90%;
            height: 98%;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            font-size: 20px;
            cursor: pointer;
            background: #fff;
            display: flex;
            border-radius: 50%;
            padding: 0.2rem;
        }

        .image {
            width: 100%;

            //height: 100%;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
            aspect-ratio: 1;
            overflow: hidden;
        }

        .content {
            width: 100%;
            padding: 2rem;
            flex: 1;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            .info{
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 2rem;
                    font-weight: 300;
                }

                h2 {
                    font-size: 1.5rem;
                    font-weight: 100;
                }

                p {
                    font-size: 2rem;
                    font-weight: 400;
                }

                .coupon {
                    font-size: 25px;
                    color: red;
                }
            }

            .emailInput {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-block: auto;
                gap: 5px;

                input {
                    border: 1px solid #ddd;
                    min-height: 40px;
                    font-size: 16px;
                    padding: 5px 12px;
                    color: #222;
                    border-radius: 0;
                    font-family: inherit;

                    &::placeholder {
                        color: #bbb;
                        font-weight: 100;
                    }
                }

                button {
                    min-height: 40px;
                    border: 0;
                    background-color: #000;
                    color: white;
                    width: 100%;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-family: inherit;
                }
            }

            .description {
                font-size: 1rem;

                p {
                    span {
                        color: black !important;
                        font-size: 10px;
                        font-weight: 300;
                        margin-top: auto;
                    }
                }
            }

            small {
                margin-top: auto;
                font-size: 10px;
                font-weight: 300;
            }
        }
    }
}
