.mergeCartPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        display: flex;
        justify-content: center;
        padding: 10rem;

        p{
            font-size: 2rem;
        }
    }
}

// @media only screen and (width <= 992px) {
// }
