.perfilPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .perfilData {
            width: 100%;
            margin: 5rem 0;
            display: flex;
            align-items: flex-start;

            button[type="button"]{
                width: 100%;
            }

            .perfilMenu {
                width: 20rem;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                a {
                    font-size: 1.6rem;
                    color: var(--text-color-secondary);
                    cursor: pointer;
                }

                a.active {
                    color: var(--markup-color);
                    border-bottom: 2px solid var(--markup-color);
                    padding-bottom: 5px;
                }

                a:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }

            .perfilContent {
                width: 100%;
                padding-left: 3rem;

                .top {
                    margin-bottom: 3rem;

                    p {
                        font-size: 1.6rem;
                        color: var(--text-color-secondary);
                        margin-bottom: 15px;
                    }

                    span {
                        font-size: 1.6rem;
                        color: var(--markup-color);
                    }
                }

                .perfilOrders {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;

                    .perfilOrder {
                        background-color: #fff;
                        border: 1px solid var(--border-color);
                        border-radius: 4px;
                        padding: 2rem;
                        cursor: pointer;
                        display: flex;
                        gap: 2rem;
                        flex-direction: column;

                        p {
                            font-size: 1.6rem;

                            //font-weight: 600;
                            text-transform: uppercase;
                            margin-bottom: 1rem;

                            &:last-child{
                                margin-bottom: 0;
                            }

                            span {
                                //font-size: 1.6rem;
                                //font-weight: bold;
                                text-transform: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .perfilPage {
        .content {
            padding: 0 2rem;

            .perfilData {
                flex-direction: column;
                margin: 1rem 0;

                .perfilMenu {
                    flex: 100%;
                    margin-bottom: 30px;
                }

                .perfilContent {
                    padding-left: 0;

                    .perfilOrders {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        gap: 15px;

                        .perfilOrder {
                            border: 1px solid var(--border-color);
                            border-radius: 4px;
                            padding: 20px;
                            margin-bottom: 10px;
                            cursor: pointer;

                            p {
                                font-size: 1.6rem;
                                font-weight: 600;
                                text-transform: uppercase;

                                span {
                                    font-size: 1.6rem;
                                    font-weight: normal;
                                    text-transform: none;
                                    color: var(--blue);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
