.reOrderModal {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    //background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    // z-index: 99999;

    .content {
        position: relative;
        border-radius: 4px;
        background: white;
        width: 50%;
        height: auto;
        padding: 25px;
        overflow-y: auto;
        border: solid 1px var(--border-color);

        // .closeModal {
        //   position: absolute;
        //   top: 15px;
        //   right: 15px;
        //   font-size: 25px;
        //   cursor: pointer;
        // }

        .reorderActions {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1rem;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:empty {
                display: none;
            }

            .reorderCheck {
                width: fit-content;
                font-size: 1.6rem;
                font-weight: 600;
            }

            .reverseCodeButton {
                user-select: text;
                background-color: transparent;
                color: #000;
                width: fit-content;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
                padding: 10px;
                border: 1px solid #000;

                small {
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            .reOrderButton{
                background: black;
                border: none;
                border-radius: 0.5rem;
                color: white;
                margin-left: 1.5rem;
                padding: 1rem 3.5rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .information {
                color: red;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;

                // width: 50%;
            }
        }

        .selectOption {
            display: flex;
            align-items: center;
            width: 100%;  
      
            > div{
                width: 100%;  
            }

            label {
                font-size: 14px;
                color: var(--theme-color);
                margin-left: 10px;
            }

            input {
                width: 14px;
                height: 14px;
            }
        }

        .selectProducts {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 1.8rem;
                text-align: left;
                margin-bottom: 1rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;  

                .formItem {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 1rem;

                    // border-top: solid 1px #333;
                    // border-bottom: solid 1px #333;
                    cursor: pointer;

                    //margin-bottom: 1rem;
                    //padding: 1rem 0;

                    .formList{
                        border: solid 1px var(--border-color);
                        border-radius: 5px;
                        padding: 1rem;
                        width: 100%;

                        // .text{
                        // }
                    }

                    label {
                        //font-size: 1.6rem;            
                        //line-height: 25px;
                    }

                    input {
                        // width: fit-content;
                        // margin-right: 1rem;
                    }
                }
            }
        }

        .reOrderButton {
            width: 100%;
            background: black;
            border: none;
            border-radius: 0.5rem;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }

        .formItem {
            textarea {
                width: 100%;
                outline: none;
                border: 1px solid var(--border-color);
                border-radius: 2rem;
                font-size: 1.4rem;
                padding: 2rem;
            }

            textarea::placeholder {
                color: var(--border-color);
                font-weight: 600;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .reOrderModal {
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        //background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;

        //z-index: 99999;

        .content {
            position: relative;
            border-radius: 4px;
            background: white;
            width: 100%;
            height: 100%;
            padding: 2rem;
            overflow-y: scroll;

            // .closeModal {
            //   position: absolute;
            //   top: 15px;
            //   right: 15px;
            //   font-size: 25px;
            //   cursor: pointer;
            // }

            .selectOption {
                display: flex;
                align-items: center;
                width: 100%;

                //margin-bottom: 15px;

                label {
                    font-size: 14px;
                    color: var(--theme-color);
                    margin-left: 10px;
                }

                input {
                    width: 14px;
                    height: 14px;
                }
            }

            .selectProducts {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 1.8rem;
                    text-align: left;
                    margin-bottom: 1.5rem;
                }

                form {
                    .formItem {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        //margin-bottom: 1rem;

                        label {
                            // font-size: 1.6rem;
                            // text-wrap: wrap;
                            // margin-left: 3rem !important;
                            // text-align: center;
                        }

                        input {
                            // width: fit-content;
                            // margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}
