.cartMessage {
    width: 100%;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        .description {
            background: var(--background-cart-message, antiquewhite);
            border-radius: 0.7rem;
            padding: 2rem;
            width: 100%;

            h1 {
                color: black;
                font-size: 2rem;
                text-align: center;
                text-transform: uppercase;
            }

            .text {
                color: black;
                font-size: 1.3rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .cartMessage {
        margin-top: 2rem;

        .content {
            flex-direction: column;

            .top:nth-child(odd) {
                grid-template-columns: repeat(1, 1fr);

                .text {
                    h1 {
                        font-size: 1.8rem;
                    }
                }
            }

            .description {
                padding: 2rem;

                .text {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
