.orderPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        //padding: 0 1.5rem;

        .pageContent {
            background-color: bisque;
            border-radius: 0.5rem;
            line-height: 2.2rem;
            padding: 2rem;
            margin-bottom: 2rem;
            width: 100%;

            p {
                margin-bottom: 1rem;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .orderPage {
        .content {
            padding: 0 1.5rem;
        }
    }
}
