.comments {
    button {
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 999px;
        color: black;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 3rem;
        padding: 1rem 2rem;
    }
}

@media only screen and (width <= 1024px) {
    .comments {
        .commentsGrid {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }
}