.assessmentsPage {
    .content {
        width: 100%;
        padding: 0 5rem;        
        margin-bottom: 3rem;
        min-height: 50rem;

        h3{
            text-align: center;

            // font-size: 2.5rem;
            // line-height: 2.5rem;
            font-weight: normal;
        }

        .assessmentsGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 6rem;
        }

        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button {
                background-color: transparent;
                border: 1px solid var(--border-color);
                border-radius: 999px;
                color: black;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 500;
                margin-top: 3rem;
                padding: 1rem 2rem;
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .assessmentsPage {
        .content {
            .noTopHeader{
                padding-top: 55px;   
            }            

            .hasTopHeader{
                padding-top: 90px;   
            }            

            padding: 0 2rem;
            
            .assessmentsGrid {
                grid-template-columns: 1fr;
            }
        }
    }
}
