.orderViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
        width: 100%;

        //padding: 0 5rem;
        max-width: var(--max-width);
        margin: 0 auto;

        .top {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            // align-items: flex-start;
            margin-bottom: 2rem;
            gap:2rem;

            .topRight {
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 1rem;
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 18px;
                    font-weight: 600;
                }

                .reload{
                    text-decoration: underline;
                    cursor: pointer;
                }
		
                .date {
                    color: black;
                    font-size: 14px;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .reorderActions {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1rem;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:empty {
                display: none;
            }

            .reorderCheck {
                width: fit-content;
                font-size: 1.6rem;
                font-weight: 600;
            }

            .reverseCodeButton {
                user-select: text;
                background-color: transparent;
                color: #000;
                width: fit-content;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
                padding: 10px;
                border: 1px solid #000;

                small {
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            .reOrderButton{
                // height: 10px;
                background: black;
                border: none;
                border-radius: 0.5rem;
                color: white;
                margin-left: 1.5rem;
                padding: 1rem 4.5rem;

                div {
                    span {
                        font-size: 1.7rem;
                        margin-top: 0;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .information {
                color: red;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;

                // width: 50%;
            }
        }

        .subtitlePaymentCard{
            font-size: 18px;			
            border: 1px solid var(--border-color);
            border-radius: 10px;
            padding: 1rem;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;	
            margin-bottom: 2rem;
            text-align: center;

            p{
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }

        .subtitlePayment {
            display: grid;
            grid-template-columns: 66.3% 32%;
            gap: 2rem;
            margin-bottom: 2rem;

            .pixImage{
                max-width: 220px;
            }

            .left,
            .right{
                font-size: 18px;
                font-weight: 600;
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 1rem;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;	
            }

            .infos{
                width: 100%;

                .card{
                    padding: 0.5rem 0;

                    p{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-weight: normal;

                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;							
                            width: 30px;
                            height: 30px;
                            border: solid 1px var(--border-color);
                            padding: 1rem;
                            border-radius: 50%;
                        }	
                    }
                }	
            }

            .copyCode {
                background: green;
                border: none;
                border-radius: 0.5rem;
                color: white;
                font-size: 1.5rem;
                margin-top: 1.5rem;
                padding: 1.2rem;
                transition: all 0.35s ease;
                text-transform: uppercase;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            .buttons {
                display: flex;
                align-items: baseline;

                button {
                    background: red;
                    border: none;
                    border-radius: 0.5rem;
                    color: white;
                    margin-left: 1.5rem;
                    padding: 1rem 3.5rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .pixCode,
            .boletoCode {
                margin-top: 10px;
                word-wrap: break-word;
                background: #f2f2f2;
                padding: 1rem;
                border-radius: 5px;
                user-select: all;
                line-break: anywhere;
            }

            a {
                width: fit-content;
                background: black;
                margin: 15px 0;
                padding: 10px 50px;
                color: white;
                font-weight: normal;
                border-radius: 5px;
                text-align: center; 
                text-decoration: none;
            }
        }

        .subtitle {
            display: flex;
            flex-direction: column;			
            align-items: center;
            justify-content: center;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            font-size: 18px;
            font-weight: 600;
            padding: 1rem;

            // height: 100%;
            width: 100%;

            span {
                font-size: 18px;
                font-weight: normal;
                margin-top: 1rem;
                text-align: center;
                max-width: 100%;
                line-height: 22px;

                strong {
                    font-weight: normal;
                }
            }			

            span.status {
                width: fit-content;
                padding: 10px 50px;
                border-radius: 5px;
                background: green;
                color: white;
                margin: 0;
                white-space: nowrap;

                &.waiting_payment,
                &.generated {
                    background: rgb(153 153 26);
                    color: white;
                }

                &.not_authorized {
                    background: red;
                    color: white;
                }

                &.captured {
                    background: black;
                    color: white;
                }
            }

            img {
                margin: 15px 0;
                width: 200px;
                height: 200px;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap:1rem;
                margin: 1rem 0;

                button {
                    background: var(--button-background);
                    border: none;
                    border-radius: 0.5rem;
                    color: white;
                    font-size: 1.5rem;
                    font-weight: normal;
                    padding: 1rem;
                    transition: all 0.35s ease;
                    width: 100%;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }

        .shippingOrder {
            // display: grid;
            // grid-template-columns: 32% 40% 24.5%;
            display: flex;

            // align-items: center;
            justify-content: space-between;
            gap: 2rem;
            margin-bottom: 2rem;

            .interaction {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
                border: 1px solid var(--border-color);
                border-radius: 1rem;
                padding: 1rem;

                // height: 100%;
                width: 100%;

                h1 {
                    color: black;
                    font-size: 2rem;
                }

                .message {
                    color: black;
                    font-size: 1.8rem;
                    text-align: center;
                }

                button {
                    background-color: #000;
                    border: none;
                    border-radius: 0.5rem;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 1rem;
                    transition: all 0.35s ease;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }

        .information {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            margin-bottom: 2rem;
        }

        .titles {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;

            p {
                font-size: 1.5rem;
                font-weight: 600;
                text-align: center;
                padding: 1rem;
                border-radius: 10px;
                margin-bottom: 0.5rem;
                border: 1px solid var(--border-color);
                margin-right: 10px;

                &:last-child{
                    margin-right: 0;
                }
            }

            p:nth-child(4) {
                color: red;
            }

            p:first-child {
                text-align: start;
            }
        }

        .trackingCode {
            display: flex;
            margin-top: 1rem;

            a {
                width: fit-content;
                background: black;
                margin: 15px 0;
                padding: 10px 50px;
                color: white;
                font-weight: normal;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
            }
        }

        .products {
            border: 1px solid var(--border-color);
            border-radius: 10px;
            margin-bottom: 2rem;

            .item {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 1rem;

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .reoderBadge {
                    position: absolute;
                    right: 1.5rem;
                    font-size: 1.2rem;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    letter-spacing: 2px;
                    top: 1rem;
                    background-color: var(--theme-color);
                    color: white;
                }

                .product {
                    display: flex;
                    align-items: center;
                    width: 200%;

                    .img {
                        width: 100px;
                        background: var(--border-color);
                        margin-right: 15px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    div {
                        .productName {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        .productDetails {
                            font-size: 18px;
                            margin-top: 1rem;
                        }
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    gap: 1rem;

                    .label{ 
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .value {
                        cursor: default;
                        font-size: 18px;
                    }

                    p {
                        display: none;
                    }
                }

                .price {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    .label{ 
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .value{
                        font-size: 18px;
                    }

                    .prices {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .valuePromotional {
                            text-decoration: line-through;
                        }
                    }
                }

                .price:nth-child(4) {
                    color: red;
                }

                .btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    line-height: 25px;

                    button {
                        background: #000;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 1.5rem;
                        padding: 10px;
                        transition: all 0.35s ease;
                        width: 60%;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }

        .total {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            margin-bottom: 4rem;

            p {
                font-size: 18px;				
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                border: 1px solid var(--border-color);
                border-radius: 10px;
                padding: 1rem;

                .label {
                    font-weight: 600;
                }

                .value {
                    margin-top: 1rem;
                }

                &.discount{
                    color: red;
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .orderViewer {
        .content {
            margin-top: 0;
            padding: 0;

            .top {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
            }

            .subtitle{
                .buttons{
                    flex-direction: column;

                    .status{
                        width: 100%;
                    }
                }	
            }

            .subtitlePayment {
                display: grid;
                grid-template-columns: 1fr;

                .left,
                .right {
                    width: 100%;
                }

                .copyCode {
                    width: 70%;
                }					
            }

            .shippingOrder {
                // grid-template-columns: 1fr;
                flex-direction: column;
            }

            .information {
                flex-direction: column;
            }

            .titles {
                display: none;
            }

            .trackingCode {
                a {
                    padding: 10px 9px;
                }
            }

            .products {
                border: 1px solid var(--border-color);

                .item {
                    // grid-template-columns: repeat(2, 1fr);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--border-color);
                    }

                    .product {
                        width: 100%;
                    }

                    .quantity {
                        margin-top: 10px;
                        justify-content: center;
                        width: 100%;
                    }

                    .price {
                        margin: 1rem 0;

                        p {
                            display: block;
                            margin: 0 1.5rem 0.5rem 0;
                        }

                        .prices {
                            flex-direction: column;
                        }
                    }

                    .btn {
                        width: 50%;
                        margin: 1rem 0;

                        button {
                            // margin-top: 1rem;
                            width: 100%;
                        }
                    }
                }
            }

            .total {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
