.trackingModal {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .content {
        position: relative;
        border-radius: 4px;
        background: white;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        .message {
            font-size: 18px;
            margin-bottom: 20px;

            span {
                font-weight: 600;
            }
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        td, th {
            text-align: center;
            padding: 10px;
            font-weight: 600;
            font-size: 14px;
        }

        td span {
            font-weight: normal;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
        }

        table {
            border-collapse: collapse;
        }
    }
}

@media only screen and (width <= 992px) {
    .trackingModal {
        .content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 4px;
            padding: 0 15px;

            .message {
                text-align: left;
                font-size: 18px;
                margin-bottom: 20px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}
