.checkoutForm {
    width: 100%;
    background: white;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
    gap: 2rem;

    :global(.MuiStepLabel-label) {
        font-size: 1.4rem;
    }

    :global(.MuiSvgIcon-root) {
        width: 3rem;
        height: 3rem;		
    }

    :global(.MuiStepIcon-text) {
        font-size: 1rem;
    }	

    :global(.MuiStep-root){
        cursor: pointer;
    }

    :global(.Mui-active){
        text-decoration: underline;
        color: #000 !important;
    }

    :global(.Mui-completed){
        text-decoration: underline; 
        color: #000 !important; 
    }

    .checkoutInfo {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: #f9f9f9;
        width: 100%;
        padding: 15px;
        border-radius: 4px;

        //margin: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        svg {
            margin-right: 10px;
            font-size: 2rem;

            &.check {
                display: none;
            }
        }

        &.active {
            color: white;
            background: black;

            svg {
                display: flex;
                color: white;

                &.check {
                    display: flex;
                }

                &.noCheck {
                    display: none;
                }
            }
        }
    }
		

    .checkoutStepper {
        display: flex;
        flex-direction: column;	
        gap:2rem;			
    }
		
    .security {
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 1140px;
        width: 100%;
        justify-content: flex-end;
        padding: 0.5rem;

        img {
            width: 300px;
        }

        p {
            font-size: 1.3rem;
            width: 250px;
            font-style: italic;
        }
    }

    .checkoutTop {	
        display: flex;	
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;

        .logo {
            max-width: 10rem;
            max-height: 5rem;
            cursor: pointer;
            margin: 2rem 0;
        }

        .steps{
            width: 100%;
        }
    }

    .contentFlex {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;	
        padding: 3rem 1rem 0;		
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 1140px;
        display: grid;
        grid-template-columns: calc(60% - 2rem) 40%;
        grid-gap: 2rem;
        gap: 2rem;
        margin: 0 auto;

        // .checkoutStepper {
        // 	display: flex;display
        // 	//justify-content: center;//justify-content
        // 	flex-direction: column;flex-direction
        // 	.logo {
        // 		max-width: 10rem;max-width
        // 		max-height: 5rem;max-height
        // 		margin: 0 auto;margin
        // 		cursor: pointer;cursor
        // 		margin-bottom: 2rem;margin-bottom
        // 	}
        // }

        .checkoutCart {
            background: #f1f1f1;

            .body {
                padding: 0 30px;

                .titles {
                    display: grid;
                    grid-template-columns: 1fr 200px;
                    align-items: center;
                    padding: 20px 0;

                    .right {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 2rem;

                        .title:last-child {
                            font-weight: 600;
                        }
                    }
                }

                .noItem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 40px 0;
                    color: #666;

                    svg {
                        font-size: 2.6rem;
                        margin-right: 1rem;
                        color: #666;
                    }
                }

                .item {
                    // display: flex;display
                    display: grid;
                    grid-template-columns: 1fr 200px;
                    align-items: center;

                    // justify-content: space-between;justify-content
                    padding: 20px 0;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--border-color);
                    }

                    .product {
                        display: flex;
                        align-items: flex-start;

                        .img {
                            min-width: 5rem;

                            //height: 8rem;
                            background: var(--border-color);
                            margin-right: 15px;
                            overflow: hidden;
                            border-radius: 4px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: top;
                            }
                        }

                        .info {
                            font-size: 14px;

                            .productName {
                                font-weight: 600;
                                font-size: 14px;
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    .prices {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 2rem;

                        .priceItem {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0.5rem;

                            .pricePromotional {
                                font-size: 1.6rem;
                                text-decoration: line-through;
                            }

                            .price {
                                font-weight: 500;
                            }
                        }
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--markup-color);
                        font-size: 16px;
                        font-weight: 600;

                        a {
                            margin-left: 1rem;
                            cursor: pointer;
                        }
                    }
                }
            }

            .checkoutCoupon,
            .creditClient {
                margin-top: 2rem;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                label {
                    font-size: 1.6rem;

                    // margin-bottom: 1rem;margin-bottom
                    display: flex;
                    justify-content: space-between;

                    small {
                        //color: red;
                    }
                }

                input[readOnly] {
                    background-color: #d2d2d2;
                }

                .inputController {
                    display: flex;

                    button {
                        padding: 1.15rem;
                        width: 50%;
                        height: 45px;
                        flex: 1;
                        border-radius: 0 1rem 1rem 0;
                        border: none;
                        background: var(--button-submit-background);
                        color: var(--button-submit-color);
                        font-size: 1.4rem;

                        &:hover {
                            cursor: pointer;
                        }

                        &.cancelButton {
                            background: var(--button-canceled-background);
                            color: var(--button-canceled-color);
                            border-radius: 0;

                            //background-color: rebeccapurple;
                        }

                        &.addButton{
                            border-radius: 0;
                        }
                    }

                    input {
                        flex: 1;
                        border-radius: 1rem 0 0 1rem;
                        border: 1px solid var(--border-color);
                        padding: 12px !important;
                        height: 45px;
                        width: 50%;
                    }
                }

                .calculateShipping {
                    margin-top: 1rem;
                }
            }

            .checkoutResume {
                padding: 0 2rem 2rem;

                .checkoutSubtotal {
                    padding: 10px 0;

                    // border-top: 1px solid #c3c3c3;border-top
                    border-bottom: 1px solid #c3c3c3;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    p {
                        font-size: 16px;
                        display: flex;
                        justify-content: space-between;

                        span {
                            display: flex;
                            align-items: center;

                            small {
                                margin-left: 0.5rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .checkoutTotal {
                    margin-top: 20px;

                    p {
                        font-weight: 600;
                        font-size: 16px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            .uploadFileCart {
                padding: 0 30px;

                .title {
                    margin: 20px 0;
                    font-size: 18px;
                    font-weight: 600;
                }

                .fileInput {
                    width: 100%;
                    margin-bottom: 10px;
                    position: relative;
                    cursor: pointer;

                    input {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        padding: 5px 15px;
                        width: 100%;
                        display: flex;
                        font-size: 14px;
                        align-items: center;
                        background: white;
                        border-radius: 4px;
                        border: 1px solid var(--border-color);
                        pointer-events: none;
                        cursor: pointer !important;

                        svg {
                            font-size: 15px;
                            margin-right: 10px;
                            color: var(--blue);
                            cursor: pointer;
                        }
                    }

                    .loadingUploadFile {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                    }
                }

                .uploadWarning {
                    width: 100%;
                    font-size: 14px;
                    margin-top: 20px;
                }

                .lensWarning {
                    font-size: 14px;
                    margin-top: 10px;
                    color: red;
                    font-weight: 600;
                }
            }
        }
    }

    .checkoutHeader {
        display: none;
        padding: 15px 0;

        .title {
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .backToCart {
        font-size: 16px;
        font-weight: 100;
        margin-left: 20px;
        cursor: pointer;
    }
}

@supports not (display: grid) {
    .checkoutForm {
        .content {
            display: flex;

            .checkoutStepper,
            .checkoutCart {
                width: 50%;
                margin-right: 1.5rem;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .checkoutForm {
        padding: 0 2rem;

        .security {
            flex-direction: column;
        }

        &.step-1,
        &.step-2 {
            .checkoutCart {
                display: none;
            }
        }

        .contentFlex {
            padding-top: 0;					
        }

        .checkoutTop {
            padding: 0;

            :global(.css-1bw0nnu-MuiStep-root) {
                span {
                    display: block;

                    span {
                        svg {
                            display: none;
                        }

                        span {
                            font-size: 1.3rem !important;
                        }
                    }
                }
            }
        }

        .content {
            position: relative;
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            flex-direction: column-reverse;
            padding-top: 0;

            .checkoutCoupon,
            .creditClient {
                .inputController {
                    // flex-direction: column;flex-direction
                }
            }

            .checkoutHeader {
                display: block;
            }

            .checkoutCart {
                // .body,
                // .checkoutCoupon,
                // .checkoutResume {
                //     //padding: 0 15px 15px;
                // }

                .body {
                    .item {
                        grid-template-columns: 1fr;

                        .product {
                            display: grid;
                            grid-template-columns: 90px auto;
                            gap: 1rem;
                            width: 100%;

                            .img {
                                width: 100%;
                                height: 100%;
                                margin-right: 0;
                            }

                            .info {
                                .prices {
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
            }

            .checkoutTop {
                padding: 0;

                :global(.css-1bw0nnu-MuiStep-root) {
                    span {
                        display: block;

                        span {
                            svg {
                                display: none;
                            }

                            span {
                                font-size: 1.3rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
