.orderPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;   

        //padding: 0 1.5rem;
    }
}

@media only screen and (width <= 992px) {
    .orderPage {
        .content {
            padding: 0 1.5rem;      
        }
    }
}
