.accountDetailsPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .perfilData {
            width: 100%;
            margin: 60px 0;
            display: flex;
            align-items: flex-start;

            .perfilMenu {
                flex: 20rem;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;

                p {
                    font-size: 1.6rem;
                    color: var(--text-color-secondary);
                    cursor: pointer;
                }

                p.active {
                    color: var(--markup-color);
                    border-bottom: 2px solid var(--markup-color);
                    padding-bottom: 5px;
                }

                p:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }

            .perfilContent {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-left: 3rem;
                width: 100%;

                .perfilFlex {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 1rem;
                    gap: 1rem;
                }

                .columns {
                    gap: 1rem;
                    display: flex;

                    // flex-direction: column;
                    width: 100%;
                }

                .form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    border: 1px solid var(--border-color);
                    background-color: #fff;
                    padding: 25px;
                    flex: 50%;

                    .formItem {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;

                        label {
                            font-size: 1.6rem;
                            color: var(--text-color);
                            margin-bottom: 0.5rem;
                            font-weight: 500;
                        }

                        .points {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }

                        span.subtitle {
                            font-size: 1.4rem;
                            margin-bottom: 20px;
                        }

                        .checkbox {
                            margin-bottom: 2rem;
                        }

                        .input {
                            border: 1px solid var(--border-color);
                            font-size: 1.6rem;
                            border-radius: 0.4rem;
                            outline: none;
                            padding: 12px 15px;
                            width: 100%;
                            height: 45px;
                        }

                        .select {
                            > *:nth-child(3) {
                                // height: 45px;
                            }
                        }

                        #react-select-2-listbox {
                            display: flex;
                            align-items: center;

                            label {
                                font-size: 1.6rem;
                                color: var(--theme-color);
                                margin: 0 10px 0 0;
                            }

                            input {
                                width: 14px;
                                height: 14px;
                            }
                        }

                        .perfilPasswords {
                            flex-direction: column;

                            input {
                                width: 100%;
                                height: auto;

                                //padding: 5px;
                                border: 1px solid var(--border-color);
                                margin-bottom: 10px;
                            }

                            .inputPassword {
                                width: 100%;
                                position: relative;

                                .iconPassword {
                                    position: absolute;
                                    right: 10px;
                                    bottom: 21px;
                                    color: #a1a1a1;
                                    font-size: 20px;
                                    z-index: 2;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .submit {
                        background: var(--button-submit-background);
                        color: var(--button-submit-color);
                        border: 1px solid var(--button-submit-background);
                        padding: 1rem;
                        margin-top: 20px;
                        width: 100%;
                        cursor: pointer;
                    }

                    .errorMessage {
                        display: flex;
                        align-items: center;
                        color: red;
                        font-size: 14px;
                        width: 100%;
                        margin: 1rem 0;

                        svg {
                            margin-right: 0.5rem;
                        }
                    }
                }

                // .form:nth-child(1) {
                //   grid-column-start: 1;
                //   grid-column-end: 2;
                //   grid-row-start: 1;
                //   grid-row-end: 3;
                // }

                // .form:nth-child(2) {
                //   grid-column-start: 2;
                //   grid-column-end: 3;
                //   grid-row-start: 1;
                //   grid-row-end: 2;
                // }

                // .form:nth-child(3) {
                //   grid-column-start: 2;
                //   grid-column-end: 3;
                //   grid-row-start: 2;
                //   grid-row-end: 3;
                //   height: 100%;
                // }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .accountDetailsPage {
        .content {
            width: 100%;
            padding: 0 2rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;

            .perfilData {
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;

                .perfilMenu {
                    flex: 100%;
                    margin-bottom: 3rem;
                    flex-direction: column;

                    p {
                        //font-size: 14px;
                        color: var(--text-color-secondary);
                        cursor: pointer;
                    }

                    p.active {
                        color: var(--markup-color);
                        border-bottom: 2px solid var(--markup-color);
                        padding-bottom: 5px;
                    }

                    p:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                }

                .perfilContent {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-left: 0;
                    align-items: flex-start;

                    .columns {
                        flex-direction: column;
                    }

                    .form {
                        padding: 1.5rem;
                        width: 100%;
                        margin-bottom: 20px;

                        .formItem {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                    }

                    // .form:nth-child(1) {
                    // }

                    // .form:nth-child(2) {
                    //   order: -1;
                    // }

                    // .form:nth-child(3) {
                    //   height: 100%;
                    // }

                    // .submitPerfilButton {
                    //   margin-top: 20px;
                    //   width: 100%;
                    // }
                }
            }
        }
    }
}

// @supports not (display: grid) {
//   :global(.css-p1ijuh-placeholder, .css-14el2xx-placeholder) {
//     margin-top: 2.5rem;
//   }
// }
