.accordionCheckout {
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    .accordionTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;        

        &.open{
            border-bottom: 1px solid #ccc;
        }
    }

    .accordionContent {
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        opacity: 0;
    }

    .accordionContent.open {
        max-height: 500px; /* Ajuste esse valor conforme necessário */
        opacity: 1;
        padding: 1rem 0;
    }

    .accordionContent.closed {
        max-height: 0;
        opacity: 0;
    }

    .accordionSvg {
        transition: transform 0.3s ease;
    }

    .accordionDescriptionProduct .open .accordionSvg {
        transform: rotate(180deg);
    }
}
