.checkoutInformation {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .formHeader{
        padding: 1rem;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  
    .title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        width: 100%;

        /* text-decoration: underline; */
        //padding: 2rem;
    }

    .subtitle{
        text-align: center;
        font-size: 1.4rem;

        a{
            text-decoration: underline;
            cursor: pointer;
        }
    } 

    .avatar {
        display: flex;

        // margin: 20px 0;

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 4px;
        }

        .info {
            .nameEmail {
                font-size: 14px;
            }

            .logout {
                font-size: 14px;
                color: var(--blue);
                cursor: pointer;
                margin-top: 5px;
            }
        }
    }

    .checkbox{
        display: flex;
        padding: 2rem 0;

        //justify-content: end;
    }

    .formTop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        &:empty{
            display: none;
        }

        .inputs {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;

            .formItem {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: var(--text-color);
                }

                span.subtitle {
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                input {
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                    padding: 12px;
                    height: 45px;
                    outline: none;
                }         

                .iconPassword {
                    position: absolute;
                    right: 10px;
                    top: 34px;
                    color: #a1a1a1;
                    font-size: 20px;
                    z-index: 2;
                    cursor: pointer;
                }
            }
        }

        button {
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            transition: all 0.35s ease;

            &.cinza {
                background: var(--button-background);
                color: var(--button-color);
            }

            &.submitted{
                background: var(--button-submit-background);
                color: var(--button-submit-color);

                //background: rebeccapurple;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }

    .contentForm{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .inputsContentForm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }

    .backLink{
        text-align: center;
        cursor: pointer;
    }

    .informationUser {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        padding: 15px;
        border-radius: 4px;

        // margin: 2rem 0;
        display: flex;
        align-items: center;

        // cursor: pointer;
    }

    .inputControl {
        width: 100%;

        input {
            border: 1px solid var(--border-color);
            width: 100%;
            border-radius: 4px;
            padding: 12px;
            height: 45px;
            outline: none;
        } 

        .inputPassword {
            width: 100%;
            position: relative;

            .iconPassword {
                position: absolute;
                right: 10px;
                bottom: 12px;
                color: #a1a1a1;
                font-size: 20px;
                z-index: 2;
                cursor: pointer;
            }
        }

        a {
            justify-content: center;
            cursor: pointer;
            display: flex;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .formAddress, .formRegister {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        .buttonsOptions {
            display: flex;
            flex-direction: column;
            width: 100%; 

            .typesButton {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;
                width: 100%;

                .buttonSelected {
                    background-color: var(--primary-color);
                    color: var(--button-submit-color);
                }

                button {
                    background-color: transparent;
                    border: 1px solid var(--primary-color);
                    border-radius: 0.5rem;
                    color: black;
                    cursor: pointer;
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 1rem 2rem;
                }
            }
        }

        .buttonsTop{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            width: 100%;

            .buttonSelected {
                background-color: var(--primary-color);
                color: var(--button-submit-color);
            }

            button {
                background-color: transparent;
                border: 1px solid var(--primary-color);
                border-radius: 0.5rem;
                color: black;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 500;
                padding: 1rem 2rem;
            }
        }

        .formItem {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: var(--text-color);
            }

            span.subtitle {
                font-size: 12px;
                margin-bottom: 5px;
            }

            input {
                border: 1px solid var(--border-color);
                border-radius: 4px;
                padding: 12px;
                height: 45px;
                outline: none;
            }   

            .infoWrapper{
                display: flex;
                justify-content: space-between;

                > div{
                    width: auto;
                }

                .info{
                    font-size: 1.2rem;
                    padding: 0.1rem 0.5rem;
                    text-decoration: underline;
                    text-align: right;
                    cursor: pointer;
                }
            }
      
            .iconPassword {
                position: absolute;
                right: 10px;
                top: 34px;
                color: #a1a1a1;
                font-size: 20px;
                z-index: 2;
                cursor: pointer;
            }
        }

        .select{
            > div{
                border-radius: 5px;
                font-size: 1.4rem;
            }

            input{
                height: 35px;
            }              
        }

        .formItemCheckbox div {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;

            input {
                width: fit-content;
                margin-right: 10px;
            }
        }    
    }

    .formRegister{
        .formInputs{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }  
    }

    .formAddress{
        .formInputs{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }  

    .buttons {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        display: flex;    
        gap: 1rem;

        button {
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            transition: all 0.35s ease;

            &.cinza {
                background: var(--button-background);
                color: var(--button-color);
            }

            &.submitted{
                background: var(--button-submit-background);
                color: var(--button-submit-color);

                //background: rebeccapurple;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .checkoutInformation {
        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .avatar {
            display: flex;

            // margin: 20px 0;

            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
                margin-right: 20px;
                border-radius: 4px;
            }

            .info {
                .nameEmail {
                    font-size: 14px;
                }

                .logout {
                    font-size: 14px;
                    color: var(--blue);
                    cursor: pointer;
                    margin-top: 5px;
                }
            }
        }

        .formRegister, .formAddress{
            .formInputs{
                grid-template-columns: none;
            }  

            .buttonsOptions {
                gap: 2rem;
            }
        }

        .formAddress {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;      

            .formItem {
                width: 100%;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: var(--text-color);
                }

                span.subtitle {
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                input {
                    //padding: 5px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                }

                // > div {
                //   display: flex;
                //   align-items: center;
                //   label {
                //     font-size: 14px;
                //     color: var(--theme-color);
                //     margin-left: 10px;
                //   }
                //   input {
                //     width: 14px;
                //     height: 14px;
                //   }
                // }
            }

            .formItemCheckbox div {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;

                input {
                    margin-right: 10px;
                }
            }      
        }
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        width: 100%;

        button {
            margin-right: 0;
            width: 100%;
        }
    }
}


@supports not (display: grid) {
    .checkoutInformation {
        .buttons {
            button {
                margin-right: 1rem;
            }

            button:last-child {
                margin-right: 0;
            }
        }
    }
}