.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem; 

    .infoPages{
        display: flex;
        color: var(--pagination-font-color, #fff);
        align-items: flex-end;
        flex-direction: column;
    }

    .pages{        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    
        svg{
            color: #000;
            background-color: #fff;
            cursor: pointer;
            font-size: 2.4rem;
        }

        .pageNumbers{
            display: flex;
            justify-content: center;
        }

        a{
            padding: 1rem;
            color: var(--pagination-font-color, #fff);
            border: solid 1px #555;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: var(--font-size-md);

            &.selected{
                background-color: var(--pagination-selected-background-color, #fff);
                color: var(--pagination-selected-font-color);
            }
        }
    }
}

@media only screen and (width <= 992px) 
{
    .container {
        flex-direction: column;
        gap: 2rem;

        .infoPages{
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}
