.signPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .backLink{
            width: 100%;
            text-align: center;

            a{
                cursor: pointer;
            }
        }

        .formData {
            width: 100%;
            display: flex;
            justify-content: center;

            .formContent {
                max-width: var(--max-width);
                width: 100%;
                display: flex;
                grid-gap: 30px;
                gap: 30px;
                padding-bottom: 3rem;

                .columns {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .select {
                    > div {
                        border-radius: 5px;
                    }

                    input {
                        height: 35px;
                    }
                }

                .form {
                    border: 1px solid var(--border-color);
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .buttonsTop {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4rem;

                        .buttonSelected {
                            background-color: var(--primary-color);
                            color: var(--button-color);
                        }

                        button {
                            background-color: transparent;
                            border: 1px solid var(--primary-color);
                            border-radius: 0.5rem;
                            color: black;
                            cursor: pointer;
                            font-size: 1.5rem;
                            font-weight: 500;
                            padding: 1rem 2rem;
                        }
                    }

                    .formFooter{
                        display: flex;
                        align-items: stretch;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2rem;

                        .item{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                        }

                        .buttons {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            gap: 2rem;
                        }

                        button {
                            background: var(--button-background);
                            border: var(--button-background) solid 1px;
                            border-radius: 5px;
                            cursor: pointer;
                            color: var(--button-color);
                            font-family: var(--font-family-button);
                            font-size: 1.6rem;
                            transition: all 0.5s ease;
                            width: 100%;
                            height: 5rem;

                            &:hover {
                                opacity: 0.7;
                            }

                            &.submitted {
                                background: var(--button-submit-background);
                                color: var(--button-submit-color);
                                border: 1px solid var(--button-submit-background);
                            }
                        }

                    }

                    .formImputs {
                        display: flex;
                        align-items: stretch;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2rem;

                        .formItem {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            //padding: 1rem;
                            flex: calc(50% - 2rem);
                            position: relative;
                            gap: 0.5rem;

                            &.formInfo{
                                gap: 2rem;
                            }

                            .row {
                                //padding: 1rem 0;
                            }

                            .iconPassword {
                                position: absolute;
                                right: 20px;
                                top: 34px;
                                color: #a1a1a1;
                                font-size: 20px;
                                z-index: 2;
                                cursor: pointer;
                            }

                            label {
                                font-size: 1.6rem;
                                color: var(--text-color);
                                font-weight: 500;
                            }

                            .points {
                                font-size: 1.6rem;
                                font-weight: bold;
                            }

                            span.subtitle {
                                font-size: 1.4rem;
                            }

                            .input {
                                border: 1px solid var(--border-color);
                                font-size: 1.6rem;
                                border-radius: 0.4rem;
                                outline: none;
                                padding: 12px 15px;
                                width: 100%;
                                height: 45px;
                            }

                            .select {
                                > *:nth-child(3) {
                                    // height: 50px;
                                }
                            }

                            #react-select-2-listbox {
                                display: flex;
                                align-items: center;

                                label {
                                    font-size: 1.6rem;
                                    color: var(--theme-color);
                                    margin: 0 10px 0 0;
                                }

                                input {
                                    width: 14px;
                                    height: 14px;
                                }
                            }

                            .perfilPasswords {
                                flex-direction: column;

                                input {
                                    width: 100%;
                                    height: auto;

                                    //padding: 5px;
                                    border: 1px solid var(--border-color);
                                    margin-bottom: 10px;
                                }
                            }
                        }

                        .errorMessage {
                            display: flex;
                            align-items: center;
                            color: red;
                            font-size: 14px;
                            width: 100%;
                            margin: 1rem 0;

                            svg {
                                margin-right: 0.5rem;
                            }
                        }
                    }

                    // .form:nth-child(1) {
                    //   grid-column-start: 1;
                    //   grid-column-end: 2;
                    //   grid-row-start: 1;
                    //   grid-row-end: 3;
                    // }

                    // .form:nth-child(2) {
                    //   grid-column-start: 2;
                    //   grid-column-end: 3;
                    //   grid-row-start: 1;
                    //   grid-row-end: 2;
                    // }

                    // .form:nth-child(3) {
                    //   grid-column-start: 2;
                    //   grid-column-end: 3;
                    //   grid-row-start: 2;
                    //   grid-row-end: 3;
                    //   height: 100%;
                    // }
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .signPage {
        gap: 2rem;

        .content {
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 0 2rem;

            .formData {
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;

                .formContent {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-left: 0;
                    align-items: flex-start;

                    .form {
                        width: 100%;
                        margin-bottom: 20px;

                        .buttonsTop {
                            gap: 1rem;
                            padding: 1rem 1rem 0;

                            button {
                                background-color: transparent;
                                border: 1px solid var(--primary-color);
                                border-radius: 0.5rem;
                                color: black;
                                cursor: pointer;
                                font-size: 1.2rem;
                                font-weight: 500;
                                padding: 1rem 2rem;
                            }
                        }

                        .formImputs {
                            flex-direction: column;

                            .formItem {
                                flex: 100%;
                            }
                        }
                    }

                    // .form:nth-child(1) {
                    // }

                    // .form:nth-child(2) {
                    //   order: -1;
                    // }

                    // .form:nth-child(3) {
                    //   height: 100%;
                    // }

                    // .submitPerfilButton {
                    //   margin-top: 20px;
                    //   width: 100%;
                    // }
                }
            }
        }
    }
}
