.commentBox {
    .commentsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 6rem;
    }

    .buttonMoreComments {
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 999px;
        color: black;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 3rem;
        padding: 1rem 2rem;
    }
}

@media only screen and (width <= 992px) {
    .commentBox {
        padding: 0 1rem;
        
        .commentsGrid {
            grid-template-columns: 1fr;
        }

        .buttonMoreComments {
            margin-left: 1rem;
        }
    }
}
