.checkoutPayment {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }

    .infos{
        display: flex;
        gap: 1rem;    

        .card{
            border: 1px solid var(--border-color);
            border-radius: 0.5rem;
            width: 33%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            label{
                font-weight: bold;
            }

            p{
                font-size: 1.2rem;

                a{
                    margin-left: 0.3rem;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .selectOption {
        border: 1px solid var(--border-color);
        background: transparent;
        padding: 15px;
        border-radius: 4px;
        margin: 1rem 0;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 14px;

        label {
            font-size: 14px;
            margin-bottom: 5px;
            color: var(--text-color);
        }

        img{
            font-size: 2rem;			
            width: 30px;
        }
    }

    .formHeader{
        padding: 1rem;
    }

    .subtitle{
        text-align: center;
        font-size: 1.4rem;

        a{
            text-decoration: underline;
            cursor: pointer;
        }
    } 
  
    .paymentInfo {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        padding: 15px;
        border-radius: 4px;

        //margin: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        img {
            margin-right: 10px;
            font-size: 2rem;

            &.check {
                display: none;
            }
        }

        &.active {
            color: white;
            background: black;

            img {
                display: flex;
                color: white;

                &.check {
                    display: flex;
                    filter: invert(1);
                }

                &.noCheck {
                    display: none;
                }
            }
        }
    }

    .adressTypes{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .addressOption{
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        padding: 15px;
        border-radius: 4px;

        //margin: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 10px;
            font-size: 2rem;

            &.check {
                display: none;
            }
        }

        &.active {
            color: white;
            background: black;

            img {
                display: flex;
                color: white;

                &.check {
                    display: flex;
                    filter: invert(1);
                }

                &.noCheck {
                    display: none;
                }
            }
        }
    }

    .formContent{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .shippingMethods,
    .paymentMethods {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .shippingOption,
        .paymentOption {
            font-size: 14px;
            border: 1px solid var(--border-color);
            background: transparent;
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            cursor: pointer;

            span{
                margin-left: 0.5rem;
            }

            img {
                min-width: 20px;
                margin-right: 10px;
                font-size: 20px;

                &.check {
                    display: none;
                }
            }

            &.active {
                color: var(--button-color);
                background: var(--button-background);

                img {
                    display: flex;
                    color: white;

                    &.check {
                        display: flex;
                        filter: invert(1);
                    }

                    &.noCheck {
                        display: none;
                    }
                }
            }
        }
    }

    .form {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        .formItem {
            width: calc(50% - 2rem);
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: var(--text-color);
            }

            .formSelects {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
                font-size: 1.4rem;
                z-index: 99;
            }

            span.subtitle {
                font-size: 12px;
                margin-bottom: 5px;
            }

            input {
                border: 1px solid var(--border-color);
                border-radius: 4px;
                padding: 12px;
                height: 45px;
            }

            div {
                // display: flex;
                align-items: center;

                label {
                    font-size: 14px;
                    color: var(--theme-color);
                    margin-left: 10px;
                }

                input {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .formItemTitle {
            width: 100%;
            margin: 2rem 0;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }

        .errorMessage {
            display: flex;
            align-items: center;
            color: red;
            font-size: 12px;
            width: 100%;
            position: relative;
            margin: 0.5rem 0;

            img {
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
                position: relative;
                margin-right: 0.5rem;
            }
        }
    }

    .buttons {
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: 1rem;

        button {
            border: none;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.35s ease;
            width: 100%;

            &.cinza {
                background: var(--button-background);
                color: var(--button-color);
            }

            &.submit {
                background: var(--button-submit-background);
                color: var(--button-submit-color);
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .checkoutPayment {
        margin-top: 0;

        .infos{
            flex-direction: column;

            .card{
                width: 100%;
            }
        }

        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .selectOption {
            width: 100%;
            display: flex;

            //flex-direction: column;
            margin-bottom: 10px;
            font-size: 14px;

            label {
                font-size: 14px;
                margin-bottom: 5px;
                color: var(--text-color);
            }
        }

        .shippingOption,
        .paymentOption {
            font-size: 14px;
            border: 1px solid var(--border-color);
            background: transparent;
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            margin-top: 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 10px;
                font-size: 20px;

                &.check {
                    display: none;
                }
            }

            &.active {
                color: white;
                background: black;

                img {
                    display: flex;
                    color: white;

                    &.check {
                        display: flex;
                        filter: invert(1);
                    }

                    &.noCheck {
                        display: none;
                    }
                }
            }
        }

        .shippingMethods,
        .paymentMethods {
            display: flex;
            flex-direction: column;

            .shippingOption,
            .paymentOption {
                font-size: 14px;
                border: 1px solid var(--border-color);
                background: transparent;
                width: 100%;
                padding: 15px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                cursor: pointer;

                span{
                    margin-left: 0.5rem;
                }

                img {
                    margin-right: 10px;
                    font-size: 20px;

                    &.check {
                        display: none;
                    }
                }

                &.active {
                    color: white;
                    background: black;

                    img {
                        display: flex;
                        color: white;

                        &.check {
                            display: flex;
                            filter: invert(1);
                        }

                        &.noCheck {
                            display: none;
                        }
                    }
                }
            }
        }

        .form {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: column wrap;
            margin-bottom: 20px;

            .formItem {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                label {
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: var(--text-color);
                }

                span.subtitle {
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                input {
                    //padding: 5px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                }

                div {
                    // display: flex;
                    align-items: center;

                    label {
                        font-size: 14px;
                        color: var(--theme-color);
                        margin-left: 10px;
                    }

                    input {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .formItemTitle {
                width: 100%;
                margin: 20px 0;
                font-size: 18px;
                font-weight: 600;
            }

            .errorMessage {
                display: flex;
                align-items: center;
                color: red;
                font-size: 12px;
                width: 100%;
                position: relative;
                margin: 0.5rem 0;

                img {
                    width: 15px;
                    height: 15px;
                    top: 0;
                    left: 0;
                    position: relative;
                    margin-right: 0.5rem;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: flex-start;

            //flex-direction: column-reverse;
            width: 100%;

            button {
                margin-right: 0;
                width: 100%;
            }
        }
    }
}

@supports not (display: grid) {
    .checkoutPayment {
        .form {
            .formItem {
                max-width: 45%;

                .formSelects {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }

        .buttons {
            button {
                margin-right: 1rem;
            }

            button:last-child {
                margin-right: 0;
            }
        }
    }
}
