.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.5rem 0;

    .pageTitle {
        color: black;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .breadcrumb {
        display: flex;
        align-items: center;

        span {
            cursor: pointer;
            font-size: 16px;
            color: var(--text-color-secondary);
        }

        .innerItem{
            display: flex;
            align-items: center;
        }

        .title {
            cursor: pointer;
            color: var(--text-color-secondary);
            font-size: 14px;
            text-decoration: underline;
        }

        img, svg {
            width: 10px;
            height: 10px;
            margin: 0 5px;
        }
    }
}

@media only screen and (width <= 992px) {
    .container {
        .lastName{
            // display: none;
        }
    }
}
