.orderPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .pageContent{
        background-color: bisque;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: o auto;
        padding: var(--padding-page-order, 0 5rem);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        //padding: 0 1.5rem;
    }
}

@media only screen and (width <= 992px) {
    .orderPage {
        .content {
            padding: 0 1.5rem;
        }
    }
}
