.productQuantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    span {
        font-size: var(--font-medium-size);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text-title-color);
        border-radius: 1rem;
    }

    .inputQuantity {
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--border-color);        
        border-radius: 1rem;

        span {
            font-size: var(--font-medium-size);
            font-weight: bold;
            cursor: pointer;
            flex: 1;
            user-select: none;
            padding: 1rem 0.5rem;
            text-align: center;

            &.value {
                cursor: default;
                text-align: center;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .productQuantity {
        flex-direction: column;
        align-items: flex-start;

        .inputQuantity {
            width: 100%;
        }
    }
}
