.gifts {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cardBody {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;            
            padding: 1rem 0;
            gap: 1rem;
            width: 100%;

            .title{
                display: flex;
                align-items: end;
                gap: 1rem;

                h1 {
                    color: var(--color-gifts, #000);
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }

            .message {
                display: flex;
                align-items: center;
                flex-direction: column;  

                h4 {
                    color: var(--color-gifts, #000);
                    font-size: 1.5rem;
                }              
                
                p {
                    color: var(--color-gifts, #000);
                    font-size: 1.5rem;
                    text-align: center;
                }

                // .informationsMessage {
                //     display: flex;
                //     flex-direction: column;
                //     gap: 1rem;
                //     justify-content: center;
                //     align-items: center;

                //     p {
                //         color: white;
                //         font-size: 1.5rem;
                //         // line-height: 2.5rem;
                //         margin-top: .3rem;
                //     }

                //     button {
                //          background: var((--button-background-gifts, #000000);
                //         color: var(--button-color, #fff);
                //         border: none;
                //         margin-top: 0.5rem;
                //         padding: 0.5rem 4rem;
                //         border-radius: 0.5rem;

                //         &:hover {
                //             opacity: 0.8;
                //         }
                //     }
                // }
            }

            button {
                background: var(--button-background-gifts, #000);
                color: var(--button-color, #fff);
                border: none;
                margin-top: 0.5rem;
                padding: 0.5rem 4rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }

    header,
    .body .item {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }

    header {
        p {
            font-size: 1.4rem;
        }

        p:not(:first-of-type) {
            text-align: center;
        }
    }

    .body {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        border-radius: 5px;

        .item {
            flex-direction: column;
            border: 1px solid var(--border-color);
            background: var(--background-color-gifts);
            border-radius: 1rem;

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border-color);
            }

            .product {
                display: flex;
                align-items: center;

                .img {
                    width: 100px;

                    // height: 100px;
                    background: var(--border-color);
                    margin: 1rem 1.5rem 1rem 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .productName {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }

            .productInfoColors {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                label {
                    margin-bottom: 2rem;
                    font-weight: bold;
                }

                .ballsColor {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 0.5rem;

                    .outStock {
                        background-color: lightgray;
                    }

                    .colorVariantImage {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;

                        //margin-right: 8px;
                        position: relative;

                        // border: 1px solid var(--text-color-secondary);
                        border: 1px solid var(--text-color);
                        border-radius: 50%;

                        // border-radius: 5px;
                        // padding: 0.5rem;
                        text-align: center;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }

                        &:focus {
                            border: 1px solid black;
                        }

                        svg {
                            color: green;
                            position: absolute;
                            top: -20px;
                            left: 20px;
                            width: 30px;
                            height: 30px;
                        }

                        // &:last-child {
                        //   margin-right: 0;
                        // }
                    }

                    .colorVariantText {
                        width: auto;

                        // height: 20px;
                        cursor: pointer;

                        //margin-right: 5px;
                        position: relative;

                        // border: 1px solid var(--text-color-secondary);
                        // border: 1px solid var(--text-color);
                        // border-radius: 50%;
                        background: white;

                        // border-radius: 0.5rem;
                        padding: 0.5rem;
                        text-align: center;
                        font-size: 1.2rem;

                        // margin-right: 0.5rem;

                        &:focus {
                            border: 1px solid black;
                        }

                        &.selected {
                            background-color: #000;
                            color: #ffff;
                        }
                    }
                }
            }

            .productInfoSizes {
                display: flex;
                align-items: center;
                justify-content: center;

                .numberSize {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    justify-content: flex-end;

                    .sizes {
                        position: relative;

                        .close {
                            position: absolute;
                            top: -0.5rem;
                            right: -0.5rem;
                            z-index: 1;

                            svg {
                                color: red;
                                font-weight: 600;
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }

                        .check {
                            position: absolute;
                            top: -1rem;
                            right: -1rem;
                            z-index: 1;

                            svg {
                                color: green;
                                font-weight: bold;
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }

                    .sizeVariant {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem;
                        cursor: pointer;
                        color: black;
                        font-size: 1.2rem;
                        font-weight: bold;
                        border: 1px solid var(--text-color-secondary);
                        border-radius: 5px;
                        position: relative;

                        &.selected {
                            background-color: black;
                            color: #ffff;
                        }

                        &.disabled {
                            background-color: lightgray;
                            color: black;
                            border-color: lightgray;
                        }
                    }
                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    background: var(--button-background-gifts);
                    color: var(--button-color);
                    border: solid 1px #fff;
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

.modalGifts {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 60%;
        height: 95%;
        background: white;
        border-radius: 5px;
        padding: 1.5rem;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: rgb(155 155 155 / 50%) transparent;
    
        &::-webkit-scrollbar {
            width: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background: rgb(155 155 155 / 50%);
            border-radius: 20px;
            border: transparent;
        }

        .top {
            position: absolute;
            color: white;
            font-size: 2.3rem;
            right: 0;
            top: 0;
            cursor: pointer;

            svg {
                position: absolute;
                top: -1rem;
                right: -1rem;
                z-index: 2;
                background-color: black;
                border-radius: 50%;
                cursor: pointer;
                padding: 0.5rem 0;
                margin-top: 0.5rem;
            }
        }

        .body {
            display: flex;
            flex-direction: column;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            border-radius: 5px;

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                // background: var(--background-color-gifts);
                border: 1px solid var(--border-color);
                border-radius: 1rem;
                padding: 1rem;
                gap: 2rem;

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .product {
                    display: flex;
                    align-items: center;

                    .img {
                        width: 100px;

                        // height: 100px;
                        background: var(--border-color);
                        margin: 1rem 1.5rem 1rem 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    .productName {
                        color: black;
                        font-size: 1.4rem;
                        font-weight: 600;
                    }
                }

                .productInfoColors {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    label {
                        margin-bottom: 2rem;
                        font-weight: bold;
                    }

                    .ballsColor {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0.5rem;

                        .outStock {
                            background-color: lightgray;
                        }

                        .colorVariantImage {
                            width: 40px;
                            height: 40px;
                            cursor: pointer;

                            //margin-right: 8px;
                            position: relative;

                            // border: 1px solid var(--text-color-secondary);
                            border: 1px solid var(--text-color);
                            border-radius: 50%;

                            // border-radius: 5px;
                            // padding: 0.5rem;
                            text-align: center;

                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }

                            &:focus {
                                border: 1px solid black;
                            }

                            svg {
                                color: green;
                                position: absolute;
                                top: -20px;
                                left: 20px;
                                width: 30px;
                                height: 30px;
                            }

                            // &:last-child {
                            //   margin-right: 0;
                            // }
                        }

                        .colorVariantText {
                            width: auto;

                            // height: 20px;
                            cursor: pointer;

                            //margin-right: 5px;
                            position: relative;

                            // border: 1px solid var(--text-color-secondary);
                            // border: 1px solid var(--text-color);
                            // border-radius: 50%;
                            background: white;

                            // border-radius: 0.5rem;
                            padding: 0.5rem;
                            text-align: center;
                            font-size: 1.2rem;

                            // margin-right: 0.5rem;

                            &:focus {
                                border: 1px solid black;
                            }

                            &.selected {
                                background-color: #000;
                                color: #ffff;
                            }
                        }
                    }
                }

                .productInfoSizes {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .numberSize {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        justify-content: flex-end;

                        .sizes {
                            position: relative;

                            .close {
                                position: absolute;
                                top: -0.5rem;
                                right: -0.5rem;
                                z-index: 1;

                                svg {
                                    color: red;
                                    font-weight: 600;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }
                            }

                            .check {
                                position: absolute;
                                top: -1rem;
                                right: -1rem;
                                z-index: 1;

                                svg {
                                    color: green;
                                    font-weight: bold;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }
                            }
                        }

                        .sizeVariant {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1rem;
                            cursor: pointer;
                            color: black;
                            font-size: 1.2rem;
                            font-weight: bold;
                            border: 1px solid var(--text-color-secondary);
                            border-radius: 5px;
                            position: relative;

                            &.selected {
                                background-color: black;
                                color: #ffff;
                            }

                            &.disabled {
                                background-color: lightgray;
                                color: black;
                                border-color: lightgray;
                            }
                        }
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 23%;

                    button {
                        background: var(--button-background-gifts-gifts, #000);
                        border: solid 1px #fff;
                        color: var(--button-color, #fff);
                        font-size: 1.4rem;
                        padding: 0.7rem 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }    
}

@media only screen and (width <= 992px) {
    .gifts {
        header {
            display: none;
        }

        .card {
            .cardBody {
                padding: 2rem;
                margin-bottom: 1rem;

                .message {
                    svg {
                        font-size: 12rem;
                    }

                    button{
                        width: 100% !important;
                    }
                }
            }
        }

        .body {
            grid-template-columns: 1fr;

            .item {
                flex-direction: column;

                .productInfoColors {
                    margin-top: 2rem;
                }

                .productInfoSizes {
                    margin: 2rem 0;
                }
            }
        }
    }

    .modalGifts {
        .container {
            width: 95%;

            .body {
                .item {
                    flex-direction: column;

                    .actions {
                        width: 100%;
                    }
                }
            }
        }
    }
}
