.assesmentModal {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .content {
        position: relative;
        border-radius: 4px;
        background: white;
        width: 40%;
        height: auto;
        padding: 25px;
        overflow-y: auto;

        .closeModal {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
            cursor: pointer;
        }

        h1 {
            font-size: 1.5rem;

            span {
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        .ReactStars {
            span {
                line-height: 60px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.5rem;
      
            .addStars{
                padding: 2rem 0 0;
            }

            .text {
                color: black;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2rem;
                text-align: center;
            }

            .formInput {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
                width: 100%;

                label {
                    color: black;
                    font-size: 1.5rem;
                }

                textarea {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    font-size: 1.5rem;
                    padding: 5px;
                    width: 100%;
                }

                textarea::placeholder {
                    color: var(--border-color);
                }
            }

            small {
                color: black;
                font-size: 1.2rem;
                font-style: italic;
                line-height: 2rem;
                margin-top: 1rem;
            }

            .inputs {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-top: 1rem;
                width: 100%;

                .inputItem {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    label {
                        color: black;
                        font-size: 1.5rem;
                    }

                    input {
                        border: 1px solid var(--border-color);
                        border-radius: 5px;
                        font-size: 1.5rem;
                        padding: 1rem;
                        width: 100%;
                    }
                }
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                button {
                    background: #000;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 10px;
                    margin-top: 1rem;
                    transition: all 0.35s ease;
                    width: 100%;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

@media (width <= 1500px) {
    .assesmentModal {
        .content {
            height: 99%;
        }
    }
}

@media only screen and (width <= 992px) {
    .assesmentModal {
        .content {
            width: 95%;
            height: 95%;
            overflow-x: auto;

            form {
                .inputs {
                    flex-direction: column;
                }

                .btn {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
