.productCarouselPhoto,
.carouselSticky{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    gap: 2rem;
    cursor: pointer;

    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    &.perPage-1{
        aspect-ratio: var(--product-carousel-photo-perpage-1);
    }

    &.perPage-2{
        aspect-ratio: var(--product-carousel-photo-perpage-2);
    }

    .slideContent {
        width: 100%;
        overflow: hidden;
    }

    .slideContent,
    .thumbContent {
        button {
            background: transparent;
            padding: 0;
            border: 0;

            svg {
                background: transparent;
                font-size: 2rem;
            }
        }
    }

    &.vertical {
        flex-direction: row-reverse;

        .thumbContent {
            width: 150px;
        }
    }

    .carouselSvg {
        position: absolute;
        top: 0.7rem;
        right: 0.5rem;
        width: 30px;
        height: auto;
        color: #2e2b26;
        cursor: pointer;
    }
}

@media only screen and (width <= 992px) {
    .carouselSticky {
        position: sticky;
        top: 0;
        z-index: 0;

        .desktop{
            display: none;
        }

        .mobile{
            display: block;
        }

        .slideContent,
        .thumbContent {
            button {
                background: transparent;
                padding: 0;
                border: 0;

                svg {
                    background: transparent;
                    font-size: 2rem;
                }
            }
        }

        .carouselSvg {
            position: absolute;
            top: 0.7rem;
            right: 0.5rem;
            color: #2e2b26;
            width: 30px;
            height: auto;
        }
    }

    .productModalCarouselPhoto {
        .top {
            right: 5.5rem;
        }

        .thumbsContent {
            display: none;
        }

        .slideContent {
            width: 100vw;
        }
    }

    .productCarouselPhoto {
        position: sticky;
        top: 0;
        z-index: 0;

        .desktop{
            display: none;
        }

        .mobile{
            display: block;
        }
    }
}
