.resellerRegistration {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 1.5rem;

    .content {
        width: 100%;
        max-width: var(--max-width);

        // margin: 2.5rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .formData {
            width: 100%;
            display: flex;
            align-items: flex-start;

            .formContent {
                width: 100%;
                display: flex;
                grid-gap: 30px;
                gap: 30px;

                // padding-bottom: 3rem;

                .columns {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .form {
                    display: flex;
                    align-items: stretch;
                    justify-content: center;
                    flex-wrap: wrap;
                    border: 1px solid var(--border-color);
                    padding: 25px;

                    .formItem {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        flex: 50%;

                        label {
                            font-size: 1.6rem;
                            color: var(--text-color);
                            margin-bottom: 0.5rem;
                            font-weight: 500;
                        }

                        .points {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }

                        span.subtitle {
                            font-size: 1.4rem;
                            margin-bottom: 20px;
                        }

                        .input {
                            border: 1px solid var(--border-color);
                            font-size: 1.6rem;
                            border-radius: 0.4rem;
                            outline: none;
                            padding: 12px 15px;
                            width: 100%;
                            height: 45px;
                        }

                        .select {
                            > *:nth-child(3) {
                                // height: 50px;
                            }
                        }

                        #react-select-2-listbox {
                            display: flex;
                            align-items: center;

                            label {
                                font-size: 1.6rem;
                                color: var(--theme-color);
                                margin: 0 10px 0 0;
                            }

                            input {
                                width: 14px;
                                height: 14px;
                            }
                        }

                        .perfilPasswords {
                            flex-direction: column;

                            input {
                                width: 100%;
                                height: auto;

                                //padding: 5px;
                                border: 1px solid var(--border-color);
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .buttons {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        gap: 15px;
                        padding: 1rem;
                    }

                    button {
                        width: 100%;
                        border: var(--button-background) solid 1px;
                        height: 5rem;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 1.6rem;
                        transition: all 0.5s ease;
                        background: var(--button-background);
                        color: var(--button-color);

                        &:hover {
                            opacity: 0.7;
                        }

                        &.submitted {
                            background: var(--button-submit-background);
                            color: var(--button-submit-color);
                            border: 1px solid var(--button-submit-background);
                        }
                    }

                    .errorMessage {
                        display: flex;
                        align-items: center;
                        color: red;
                        font-size: 14px;
                        width: 100%;
                        margin: 1rem 0;

                        svg {
                            margin-right: 0.5rem;
                        }
                    }
                }

                // .form:nth-child(1) {
                //   grid-column-start: 1;
                //   grid-column-end: 2;
                //   grid-row-start: 1;
                //   grid-row-end: 3;
                // }

                // .form:nth-child(2) {
                //   grid-column-start: 2;
                //   grid-column-end: 3;
                //   grid-row-start: 1;
                //   grid-row-end: 2;
                // }

                // .form:nth-child(3) {
                //   grid-column-start: 2;
                //   grid-column-end: 3;
                //   grid-row-start: 2;
                //   grid-row-end: 3;
                //   height: 100%;
                // }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .resellerRegistration {
        .content {
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;

            .formData {
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;

                .formContent {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-left: 0;
                    align-items: flex-start;

                    .form {
                        padding: 0;
                        width: 100%;
                        margin-bottom: 20px;

                        .formItem {
                            flex: 100%;
                        }
                    }

                    // .form:nth-child(1) {
                    // }

                    // .form:nth-child(2) {
                    //   order: -1;
                    // }

                    // .form:nth-child(3) {
                    //   height: 100%;
                    // }

                    // .submitPerfilButton {
                    //   margin-top: 20px;
                    //   width: 100%;
                    // }
                }
            }
        }
    }
}
