.inputShipping {    
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;

    .title {
      font-size: 1.4rem;
      color: var(--text-title-color);
    } 

    .address{
      font-size: 1.2rem !important;
      margin: 0.5rem 0 0 0.5rem !important;
      color: #666;
      cursor: pointer;
    }

    .freeShipping{
      .content{
        display: flex;
        align-items: center;
        color: var(--color-shipping, red);
        font-size: 1.4rem;
        margin-left: 1rem;
        
        img{
          margin-left: 1rem;
          min-width: 20px;
        }
      }  
    }

    .message{
      background: antiquewhite;
      padding: 1rem;
      margin-bottom: 2rem;
      border-radius: 4px;
      font-size: 1.3rem;
      text-align: center;
    }

    .control{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      
      input {
        width: 50%;
        height: 45px;
        padding-left: 10px;
        border-radius: 0;
        border: 1px solid var(--border-color);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
  
      button {
        border-radius: 0;        
        width: 50%;
        height: 45px;
        border: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--button-submit-background);
        color: var(--button-submit-color);
        cursor: pointer;
      }      
    }  
    
    .shippingMethods {
      display: flex;
      flex-direction: column;

      // gap:1rem;

      .free-shipping{
        font-weight: bold;
        color: green;
      }

      .shipping {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;  
        border-bottom: solid 1px var(--border-color);
        cursor: pointer;

        span{
          line-height: 0;
        }

        p{
          display: flex;
          align-items: center;
          gap: .5rem;

          // margin-bottom: 1rem;
        }

        small{
          background-color: #ffead6;
          color: #000;
          padding: 1rem;          
          margin-top: 1rem;
        }

        .check{
            display: none;            
        }

        img{
          margin-right: 1rem;    
          min-width: 20px;      
        }

        &.active{
          color: var(--button-color);
				  background: var(--button-background);

          .check{
              display: block;

              //font-size: 1.7rem;
          }

          .noCheck{
              display: none;
          }
        }
      }

      .shipping:last-child {
        border-bottom: none;
      }
    }
  }