.loadingDots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Espaço entre os pontos */
    span {
        width: 10px;
        height: 10px;
        background-color: #333; /* Cor dos pontos */
        border-radius: 50%; /* Faz os pontos ficarem circulares */
        animation: loading 1.2s infinite ease-in-out;
    }

    span:nth-child(1) {
        animation-delay: 0s;
    }

    span:nth-child(2) {
        animation-delay: 0.2s;
    }

    span:nth-child(3) {
        animation-delay: 0.4s;
    }
}

@keyframes loading {
    0%, 80%, 100% {
        transform: scale(0); /* Ponto fica menor */
    }

    40% {
        transform: scale(1); /* Ponto fica maior */
    }
}