.whatsAppIcon {
    position: relative;
    position: fixed;
    bottom: 4rem;
    color: red;
    right: 3rem;
    font-size: 4rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: 0.5s showUp ease-in-out backwards;
    animation-delay: 2s;

    img {
        filter: invert(1);
    }
}

.whatsAppIcon::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    background: #25d366;
    border-radius: 20rem;
    width: 5rem;
    height: 5rem;
    z-index: -1;
}

@media only screen and (width <= 992px) {
    .trackingModal {
        .content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 4px;
            padding: 0 15px;

            .message {
                text-align: left;
                font-size: 18px;
                margin-bottom: 20px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    75% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
