.container {
    display: flex;
    align-items: center;
    justify-content: center;

    //padding: 0 30px;
    //margin: 5rem 0;

    .content {
        width: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10rem 0;

        .title {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .inputControl {
            width: 100%;
            margin-bottom: 2rem;

            a {
                justify-content: center;
                cursor: pointer;
                display: flex;
                font-size: 1.5rem;
            }
        }

        input {
            width: 100%;
            font-size: 16px;
            padding: 12px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }

        button {
            width: 100%;
            border: #333 solid 1px;
            height: 5rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.6rem;
            transition: all 0.5s ease;
            background: var(--button-background);
            color: var(--button-color);

            &:hover {
                opacity: 0.7;
            }
            
            &.submitted {
                background: var(--button-submit-background);
                color: var(--button-submit-color);
                border: 1px solid var(--button-submit-background);
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .container {
        padding: 0 1.5rem;
        margin: 3rem 0;

        .content {
            width: 100%;
            max-width: var(--max-width);
            margin: 3rem 0;

            .title {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
    }
}
