.menuType {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul.menu {
        display: flex;

        > li {
            display: flex;
            align-items: center;
            color: var(--text-color);
            cursor: pointer;
            font-size: 1.5rem;            
            padding: 1rem;
            text-decoration: none;

            // text-transform: uppercase;
            width: 100%;
            

            a {
                // padding: 1rem;
                text-decoration: none;
                font-size: var(--font-size-menu, 1.5rem);
                color: var(--text-color, black);
                display: block;
                background-color: #fff;

                &.highlight{
                    color: red;
                }
                
                &.bold{
                    font-weight: bold;
                }

                &.differentFont {
                    //font-family: imFellTypes;
                    font-size: 1.2rem;
                }
            }

            &:hover{
                & > a {
                    // background-color: $hover;
                }

                &.dropdown {
                    & > ul {
                        visibility: visible;
                        transform: rotateX(0);
                        top: 3.5rem
                    }
                }
            }

            &.dropdown {
                position: relative;

                ul {
                    position: absolute;
                    flex-wrap: wrap;
                    min-width: 200px;
                    top: 50%;
                    left: 0;
                    border-radius: 5px;
                    visibility: hidden;
                    z-index: 1;
                    background-color: var(--backgound-sub-menu);

                    &::after{
                        position: absolute;
                        content: '';
                        top: -17px;
                        left: 30px;
                        width: 15px;
                        height: 15px;
                        z-index: -1;
                    }

                    li {
                        width: 100%;

                        a {
                            width: 100%;
                            box-sizing: border-box;
                            padding: 10px 20px;
                        }

                        &:last-child{
                            a {
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                            }
                        }

                        &:hover{
                            & > a {
                                background-color: var(--background-hover-menu-type, #e5e5e5);
                                color: var(--color-off-white, black);
                            }

                            &.dropdown {
                                ul {
                                    top: 0;
                                    visibility: visible;
                                    transform: rotateY(0);
                                }
                            }
                        }

                        &.dropdown {
                            ul {
                                padding-top: 0;
                                left: calc(100% + 5px);
                                top: 0;

                                // transform: rotateX(30deg) rotateY(90deg);
                                li {
                                    &:first-child{
                                        a {
                                            border-top-right-radius: 5px;
                                            border-top-left-radius: 5px;
                                        }
                                    }
                                }

                                &::after {
                                    top: 15px;
                                    left: -7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .menuType {
        flex-direction: column;
    }
}