.productQuantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    .outStock {
        background-color: lightgray !important;
        border-radius: 0;
        color: #000 !important;
        font-weight: 600;
        background: linear-gradient(
            to top left,
            lightgray 0%,
            lightgray calc(50% - 0.8px),
            // rgb(255, 0, 0) 50%,
            lightgray calc(50% + 0.8px),
            lightgray 100%
        ) !important;

        .value {
            border: 0;
        }

        span {
            color: transparent;
        }
    }

    span {
        font-size: var(--font-medium-size);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text-title-color);
        border-radius: 1rem;
    }

    .inputQuantity {
        width: 100%;
        flex-direction: column;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // border: 1px solid var(--border-color);
        // border-radius: 1rem;

        .value {
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            border-radius: 0;
            width: 100%;
        }

        span {
            flex: 1;
            cursor: pointer;
            font-size: var(--font-medium-size);
            font-weight: bold;
            user-select: none;
            padding: 1rem 0.5rem;
            text-align: center;

            &.value {
                cursor: default;
                text-align: center;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .productQuantity {
        flex-direction: column;
        align-items: flex-start;

        .inputQuantity {
            flex-direction: column;
            width: 100%;
        }

        div {
            border: 0;

            .value {
                border-top: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                border-radius: 0;
                width: 100%;
            }

            span {
                font-size: 1.5rem;
            }
        }
    }
}
