.orderList {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
  
        .orders {
            margin: 0 auto;
            width: 100%;
            padding: 5rem;
  
            .noOrders {
                font-size: 1.6rem;
            }
  
            .title {
                text-align: center;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 3rem;
            }
  
            .order {
                margin: 0 auto;
                width: 100%;
                max-width: var(--max-width);
  
                .title {
                    text-align: left;
                    margin: 0;
                }
  
                .subtitle {
                    text-align: left;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--gray800);
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
  
                .itens {
                    display: flex;
                    align-items: flex-end;
  
                    > div {
                        border-radius: 0.8rem;
                        background: var(--gray800);
                        width: 10rem;
                        height: 15rem;
                        margin-right: 2rem;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
  
                    button {
                        margin-left: auto;
                        height: fit-content;
                    }
                }
            }
  
            .line {
                width: 100%;
                max-width: var(--max-width);
                border: 1px solid var(--text-color);
                margin: 5rem 0;
            }
        }
    }
}
  
@media only screen and (width <= 992px) {
    .accountPage {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
  
            .orders {
                width: 100%;
                background: var(--gray300);
                padding: 3rem 1.5rem;
  
                .title {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-bottom: 3rem;
                }
  
                .order {
                    .title {
                        text-align: left;
                        margin: 0;
                    }
  
                    .subtitle {
                        text-align: left;
                        font-size: 2rem;
                        font-weight: 600;
                        color: var(--gray800);
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }
  
                    .itens {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        flex-wrap: wrap;
  
                        > div {
                            border-radius: 0.8rem;
                            background: var(--gray800);
                            width: 20%;
                            height: 15rem;
                            margin-right: 0;
                        }
  
                        button {
                            margin-left: 0;
                            margin-top: 2rem;
                            height: fit-content;
                        }
                    }
                }
  
                .line {
                    border: 1px solid var(--text-color);
                    margin: 5rem 0;
                }
            }
        }
    }
}
  