.modalComments {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;

    .container {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 80%;
        background: white;
        border-radius: 5px;
        padding: 5rem;
        overflow-x: auto;

        .top {
            position: relative;

            .closeModal {
                position: absolute;
                top: -1rem;
                right: 0;
                z-index: 2;

                // background-color: white;
                // border-radius: 50%;

                cursor: pointer;
                font-size: 3rem;

                // padding: 0.5rem 0;
                margin-top: 0.5rem;
            }
        }

        h1 {
            color: black;
            font-size: 2rem;
            text-align: center;
        }

        .commentsGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 2rem;
        }
    }
}

@media (width <= 1500px) {
    .modalComments {
        .container {
            width: 90%;
        }
    }
}

@media only screen and (width <= 1024px) {
    .modalComments {
        .container {
            width: 99%;
            height: 90%;
    
            .top {
                position: relative;
    
                .closeModal {
                    position: absolute;
                    top: -1rem;
                    right: 0;
                    z-index: 2;
    
                    // background-color: white;
                    // border-radius: 50%;
    
                    cursor: pointer;
                    font-size: 2rem;
    
                    // padding: 0.5rem 0;
                    margin-top: 0.5rem;
                }
            }
    
            h1 {
                color: black;
                font-size: 2rem;
                text-align: center;
            }
    
            .commentsGrid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 0 2rem;
            }
        }
    }
}