.videosSet {
    background: #f2f2f2;
    overflow: hidden;

    .videoContent{
        width: 100%;
        height: 100%;

        > div{
            width: 100%;
            height: 100%;
        }

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// @media only screen and (width <= 992px) {
// }