.maintenancePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;

    @media (width <= 1024px) {
        height: initial;
    }

    .banner {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;
        padding: 5rem;

        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            margin-bottom: 2rem;
        }
    }

    @media (width <= 1024px) {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.maintenancePageHeight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;

    @media (width <= 1024px) {
        height: initial;
    }

    .banner {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;

        img {
            width: 15%;
            height: 15%;
            object-fit: contain;
        }
    }
}
