.cartItem {
    width: 100%;

    .content {
        padding: 0 3rem;
        margin-bottom: 20px;

        .product {
            display: grid;
            grid-template-columns: 90px auto 20px;
            gap: 10px;

            .img {
                width: 100%;
                height: 100%;
                margin-right: 15px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            img{
                cursor: pointer;
            }

            .descriptionProduct {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;

                .title {
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .productInfo {
                    .productDetails {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.3rem;
                        color: var(--text-color-secondary);
                        font-size: 1.2rem;
                    }
                }

                .prices {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;

                    .itemPrice {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;

                        .price {
                            font-size: 1.2rem;
                            font-weight: 500;
                        }

                        .pricePromotional {
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-decoration: line-through;
                        }
                    }
                }

                .description {
                    color: gray;
                    font-size: 1.5rem;
                }

                .price {
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid var(--border-color);
                    border-radius: 0.5rem;
                    padding: 0.6rem;
                    width: 50%;

                    svg {
                        width: 1.5rem;
                        height: auto;
                        cursor: pointer;
                    }

                    .imageSvg {
                        cursor: pointer;
                    }

                    .number {
                        color: black;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    .inputQuantity {
                        border: 1px solid transparent;
                        color: black;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            svg {
                color: black;
                width: 2rem;
                height: auto;
                cursor: pointer;
            }
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 1.5rem;
            font-weight: 600;
            margin: 2.5rem 0;
            transition: all 0.35s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    .fixed {
        position: sticky;
        bottom: 0;
        padding: 2rem;
        border-top: solid 1px var(--border-color);
        background: var(--background-body-cart-modal);

        .priceTotal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 100%;

            .separator {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .dicount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: .5rem 0;
                width: 100%;

                p {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    
                    span {
                        font-size: 1rem;
                        font-weight: normal;
                        margin-left: 0.5rem;
                    }
                }
            }

            .total,
            .priceName {
                color: black;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .discount {
                color: red;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .priceText {
                color: black;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .buttons {
            margin: 2.5rem 0;

            button {
                background: var(--button-background);
                border: 0;
                border-radius: 0.5rem;
                color: var(--button-color);
                cursor: pointer;
                margin-top: 1.5rem;
                padding: 1rem 2rem;
                width: 100%;
                transition: all 0.35s ease;

                &:hover {
                    opacity: 0.8;
                }
            }

            .clearCart{
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                margin-top: 1rem;
                text-align: right;
                text-decoration: underline;
                cursor: pointer;
            }

            button:first-child {
                background: var(--button-submit-background);
                color: var(--button-submit-color);
                margin-top: 0;
            }
        }
    }

    .noProducts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1.5rem;
        padding: 5rem;

        svg {
            font-size: 3rem;
            color: var(--text-color-secondary);
        }
    }
}

@media only screen and (width <= 992px) {
    .cartItem {
        .content {
            padding: 0 1rem;

            .product {
                grid-template-columns: 90px auto 15px;

                .descriptionProduct {
                    .title {
                        font-size: 1.3rem;
                    }

                    .quantity {
                        width: 60%;
                    }
                }

                svg {
                    width: 1.8rem;
                }
            }
        }

        .fixed {
            padding: 2rem 1rem;
        }

        .noProducts {
            padding: 3rem;
        }
    }
}
