.shippingTable {  
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .message {
            font-size: 18px;
            margin-bottom: 1rem;

            span {
                font-weight: 600;
            }
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        td {
            text-align: center;
            padding: 10px;
            font-weight: 600;
            font-size: 14px;
        }

        td span {
            font-weight: normal;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
    }
}

// @media only screen and (width <= 992px) {

// }

// @media only screen and (width <= 855px) {
  
// }
