.searchBar {
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;

    .content {
        position: relative;
        background: white;
        display: flex;
        align-items:center ;
        justify-content: center;
        height: 0;
        padding: 60px 0;

        svg {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
        }

        input {
            width: 80%;
            border: 0;
            border-bottom: 1px solid;
            padding: 5px 10px;
            font-size: 30px;
            border-radius: 0;

            // font-family: "Anonymous Pro";

            &::placeholder {
                color: lightgrey;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }

    }
}