.commentsRating {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 5rem;

    .assessmentStar {
        display: flex;
        align-items: center;
        gap: 1rem;

        .stars {
            font-weight: 700;
        }
    }

    .text {
        font-weight: 700;
    }
}

@media only screen and (width <= 1024px) {
    .commentsRating {    
        .assessmentStar {    
            .stars {
                font-size: 1.2rem;
            }
        }
    
        .text {
            font-size: 1.3rem;
        }
    }
}