.cartProductsTable {
    width: 100%;

    .note{
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
        color: #999;
    }

    .content {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 4rem;

        .left {
            // position: sticky;
            // top: var(--top-sticky-cart, 10rem);

            background: #f2f2f2;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            // margin-top: 8rem;
            padding: 2rem;

            //padding-bottom: 5rem;
      
            .cartFreeShipping {      
                .content {
                    background-color: var(--free-shipping-background, green);
                    color: var(--free-shipping-color, #FFF);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    gap: 15px;
                    font-size: 1.4rem;
                    border-radius: 0.5rem;
                    margin-top: 0;
      
                    svg {
                        font-size: 1.4rem;
                    }
          
                }
            }

            .title {
                color: var(--text-title-color);
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 20px;
                text-transform: uppercase;
            }

            .productShipping {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 1px solid var(--text-color);
                padding: 20px 0;

                input {
                    border: 1px solid var(--border-color);
                    border-radius: 0.4rem;
                    height: 35px;
                    padding: 1.2rem;
                    width: 50%;

                    // border: 1px solid var(--text-title-color);
                }

                button {
                    background: var(--button-background);
                    border-radius: 0.4rem;
                    padding: 1rem;
                    height: 35px;
                    width: 48%;
                }

                .shippingMethods {
                    margin-top: 1rem;
                    width: 100%;

                    .shipping {
                        display: flex;
                        align-items: center;
                        font-size: 1.4rem;
                        width: 100%;

                        p:nth-of-type(2) {
                            margin-left: 1rem;
                        }

                        p:last-of-type {
                            margin-left: auto;
                        }
                    }
                }
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    background: var(--button-submit-background);
                    border: var(--button-submit-background);
                    color: var(--button-submit-color);
                    width: 100%;
                }
            }
        }
    }

    header,
    .body .item {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 0.1fr;
        align-items: center;
        padding: 15px;
    }

    .titlesItems {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 0.1fr;
        align-items: center;
        padding: 1.5rem;

        span:first-child {
            text-align: start;
        }

        .bold {
            font-weight: bold;
        }

        span {
            text-align: center;
        }
    }

    header {
        p {
            font-size: 1.4rem;
        }

        p:not(:first-of-type) {
            text-align: center;
        }
    }

    .packaging{
        .title{
            font-size: 2rem;
            text-align: center;
            padding: 3rem;
        }

        .packagingBody{
            border: 1px solid var(--border-color);
            border-radius: 5px;
            background-color: #f2f2f2;
        }
    }

    .body {
        border: 1px solid var(--border-color);
        border-radius: 5px;

        .item {
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border-color);
            }

            .product {
                display: flex;
                align-items: center;

                .img {
                    width: 100px;

                    //height: 100px;
                    background: var(--border-color);
                    margin-right: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                div {
                    .productName {
                        font-weight: 600;
                        font-size: 1.4rem;
                    }

                    .productDetails {
                        color: var(--text-color-secondary);
                        font-size: 1.4rem;
                        margin-top: 10px;
                    }
                }
            }

            .prices {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: .5rem;

                .promotionalPrice {
                    text-decoration: line-through;
                }
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 30px;
                    user-select: none;

                    &.quantityContainer {
                        display: flex;
                    }

                    span {
                        padding: 0 20px;
                        cursor: pointer;
                    }

                    span.value {
                        cursor: default;
                        border-left: 1px solid var(--border-color);
                        border-right: 1px solid var(--border-color);
                    }

                    input.value {
                        border: 0 1px solid var(--border-color);
                        text-align: center;
                        max-width: 60px;
                    }
                }
            }

            .price {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--markup-color);
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1rem;        
            }

            a, svg {
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    .subTotal {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }

        p:last-of-type {
            // color: var(--markup-color);
            color: var(--text-title-color);
            margin-left: 2rem;
        }
    }

    .total {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // justify-content: flex-end;
        // border-top: 1px solid var(--border-color);
        //margin-top: 50px;
        //padding-bottom: 1.5rem;
        // padding: 1.5rem 0;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }

        p:last-of-type {
            // color: var(--markup-color);
            color: var(--text-title-color);
            margin-left: 2rem;
        }
    }

    .shipping {
        display: flex;
        align-items: center;
        justify-content: space-between;    

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    .dicount {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            align-items: center;

            span{
                font-size: 1rem;
                font-weight: normal;
                margin-left: 0.5rem;
            }
        }
    }

    .noProducts {
        font-size: 1.6rem;
        justify-content: center;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            font-size: 4rem;
            color: var(--text-color-secondary);
            margin-bottom: 2rem;
        }
    }

    .buttons {
        display: flex;
        align-items: center;

        // justify-content: center;
        gap: 1rem;

        // padding: 2rem 0;

        .submit{
            display: none;
            background: var(--button-submit-background);
            color: var(--button-submit-color);
            border: 1px solid var(--button-submit-background);
        }

        button {
            background: var(--button-background);
            border-radius: 5px;
            color: var(--button-color);
            font-size: 15px;
            margin-right: 1rem;
            transition: all 0.5s ease;
            padding: 10px 20px;
            cursor: pointer;
            border: none;

            &:hover {
                opacity: 0.8;
            }
        }

        .cinza {
            display: flex;
            gap: 1rem;
            align-items: center;
            background: #f2f2f2;
            border: 1px solid transparent;
            color: #000;
        }
    }
}

@media only screen and (width <= 992px) {
    .cartProductsTable {
        .content {
            grid-template-columns: 1fr;
            margin-top: 0;

            .left{
                margin-top:1rem;
            }
        }

        header,
        .body .item {
            display: flex;
            flex-direction: column;
        }

        header {
            display: none;

            p {
                font-size: 1.4rem;
            }

            p:not(:first-of-type) {
                text-align: center;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-color);

            .item {
                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .product {
                    display: grid;
                    grid-template-columns: 90px auto 15px;
                    align-items: flex-start;
                    gap: 1rem;
                    width: 100%;

                    .img {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        margin-right: 0;
                    }

                    .productInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.2rem;
                        width: 100%;

                        .productName {
                            font-size: 1.2rem;
                        }

                        .productDetails {
                            font-size: 1.2rem;
                            margin-top: 0;
                        }
                    }

                    svg {
                        font-size: 2rem;
                        cursor: pointer;
                    }

                    .price {
                        justify-content: flex-start;
                        font-size: 1.4rem;
                    }
                }

                .prices {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: .5rem;
                    width: 100%;
  
                    .promotionalPrice {
                        font-size: 1.4rem;
                        text-decoration: line-through;
                    }

                    .priceTotal {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div {
                        border: 1px solid var(--border-color);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 30px;
                        user-select: none;

                        span {
                            padding: 0 20px;
                            cursor: pointer;
                        }

                        span.value {
                            cursor: default;
                            border-left: 1px solid var(--border-color);
                            border-right: 1px solid var(--border-color);
                        }
                    }
                }

                .actions {
                    justify-content: flex-start;
                    width: 100%;
                }
            }
        }

        // .total {
        //   display: flex;
        //   align-items: center;
        //   justify-content: flex-end;
        //   //border-top: 1px solid var(--border-color);
        //   //margin-top: 50px;
        //   padding: 15px;
        //   p {
        //     font-size: 1.6rem;
        //     font-weight: 600;
        //   }

        //   p:last-of-type {
        //     color: var(--markup-color);
        //     margin-left: 50px;
        //   }
        // }

        .buttons {
            flex-direction: column;
            padding-top: 0;

            .submit{
                display: block;
            }      
  
            button:not(:last-of-type) {
                margin-right: 0;
            }

            button {
                margin: 0;
                width: 100%;
            }
        }
    }
}

@supports not (display: grid) {
    .cartProductsTable {
        .body .item {
            display: flex;

            .product {
                width: 100%;
            }

            .quantity {
                width: 100%;
            }

            .price {
                width: 100%;
            }

            .actions {
                width: 10%;
            }
        }
    }
}
