.modalForm {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;

    .container {
        display: flex;
        flex-direction: column;
        width: 35%;

        // height: 80%;
        background: black;
        border-radius: 5px;

        .top {
            position: relative;
            color: black;
            font-size: 2.3rem;

            svg {
                position: absolute;
                top: -2.5rem;
                right: -2.1rem;
                z-index: 2;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                padding: 0.5rem 0;
                margin-top: 0.5rem;
            }
        }

        .desktop {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .mobile {
            display: none;
        }

        .content {
            color: white;
            padding: 1rem 2.5rem;

            h1 {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.6rem;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;

                .inputForm {
                    margin: 1rem 0;
                    width: 100%;

                    input {
                        border: none;
                        border-radius: 0.5rem;
                        color: black;
                        padding: 0.7rem;
                        width: 100%;
                    }
                }

                button {
                    background: var(--secondary-color);
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-size: 1.5rem;
                    margin-top: 1.2rem;
                    padding: 1.3rem 2.5rem;
                    text-transform: uppercase;
                    transition: all 0.35s ease;

                    &:hover {
                        background: var(--primary-color);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .closeButton {
        background: var(--primary-color);
        border: none;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.5rem;
        margin-top: 1.5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        transition: all 0.35s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

@media only screen and (width <= 992px) {
    .modalForm {
        .container {
            width: 90%;
            height: auto;

            .top { 
                svg {
                    top: -3.1rem;
                    right: 0.5rem;
                }
            }

            .desktop {
                display: none;
            }

            .mobile {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .content {
                h1 {
                    font-size: 1rem;
                }
            }
        }
    }
}
