.accordionDescriptionProduct {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    .accordionTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;        

        &.open{
            border-bottom: 1px solid #ccc;
        }
    }

    .accordionContent {
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        opacity: 0;
    }

    .accordionContent.open {
        max-height: 500px; /* Ajuste esse valor conforme necessário */
        opacity: 1;
        padding: 1rem;
    }

    .accordionContent.closed {
        max-height: 0;
        opacity: 0;
    }

    .accordionSvg {
        transition: transform 0.3s ease;
    }

    .accordionDescriptionProduct .open .accordionSvg {
        transform: rotate(180deg);
    }

    //width: 100%;

    // .accordionTitle {
    //     position: relative;

    //     display: flex;
    //     align-items: center;

    //     background: black;
    //     cursor: pointer;
    //     color: white;
    //     font-size: 1.5rem;
    //     font-weight: 500;
    //     padding: 1rem;
    //     text-transform: uppercase;
    //     margin-bottom: 0.5rem;

    //     span {
    //         position: absolute;
    //         top: -20px;
    //         left: 0;

    //         display: flex;
    //         align-items: center;
    //         justify-content: center;

    //         background-color: #edd5d5;
    //         border-radius: 100px;
    //         color: black;
    //         font-size: 30px;
    //         font-weight: 500;
    //         line-height: 30px;
    //         padding: 1rem;
    //         width: 40px;
    //         height: 40px;
    //     }

    //     .accordionSvg {
    //         color: white;
    //         margin-left: auto;
    //         width: 20px;
    //         height: 20px;
    //     }
    // }

    // .accordionLine {
    //     border-bottom: 1px solid white;
    //     width: 100%;
    // }
}
