.mergeCartPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100%;
        max-width: var(--max-width);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem;
        flex-direction: column;
        text-align: center;

        svg{
            font-size: 7rem; 
            margin-bottom: 2rem;      
        }

        p{
            font-size: 2rem;
        }
    }
}

// @media only screen and (width <= 992px) {
// }
