.checkoutShipping {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .formHeader{
        padding: 1rem;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  
    .title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        width: 100%;

        /* text-decoration: underline; */
        //padding: 2rem;
    }

    .subtitle{
        text-align: center;
        font-size: 1.4rem;

        a{
            text-decoration: underline;
            cursor: pointer;
        }
    } 

    .backLink{
        text-align: center;
        cursor: pointer;
    }

    .message{
        background: antiquewhite;
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        font-size: 1.3rem;
        text-align: center;
    }

    .shippingInfo{
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

        svg{
            font-size: 2rem;			
        }
    }

    .shippingOption {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg{
            font-size: 2rem;			
        }
    }

    .shippingMethods,
    .paymentMethods {
        display: flex;
        flex-direction: column;
        gap:2rem;

        .shippingOption,
        .paymentOption {
            font-size: 14px;
            border: 1px solid var(--border-color);
            background: transparent;
            width: 100%;
            padding: 15px;
            border-radius: 4px;

            //margin-bottom: 10px;
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                min-width: 20px;
                margin-right: 10px;
                font-size: 20px;

                &.check {
                    display: none;
                }
            }

            &.active {
                color: var(--button-color);
                background: var(--button-background);

                img {
                    &.check {
                        display: flex;
                        filter: invert(1);
                    }

                    &.noCheck {
                        display: none;
                    }
                }
            }
        }
    }

    .buttons {
        width: 100%;
        justify-content: space-between;
        display: flex;   
        gap: 1rem; 

        button {
            border: none;
            border-radius: 5px;
            padding: 10px 50px;
            transition: all 0.35s ease;
            width: 100%;
	
            &.cinza {
                background: var(--button-background);
                color: var(--button-color);
            }

            &.submit{
                background: var(--button-submit-background);
                color: var(--button-submit-color);

                //background: rebeccapurple;
            }
	
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .checkoutShipping {
        margin-top: 0;

        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .shippingOption {
            font-size: 14px;
            border: 1px solid var(--border-color);
            background: transparent;
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .shippingMethods,
        .paymentMethods {
            display: flex;
            flex-direction: column;

            .shippingOption,
            .paymentOption {
                font-size: 14px;
                border: 1px solid var(--border-color);
                background: transparent;
                width: 100%;
                padding: 15px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    margin-right: 10px;
                    font-size: 20px;

                    &.check {
                        display: none;
                    }
                }

                &.active {
                    color: white;
                    background: black;

                    svg {
                        display: flex;
                        color: white;

                        &.check {
                            display: flex;
                        }

                        &.noCheck {
                            display: none;
                        }
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            width: 100%;

            button {
                margin-right: 0;
                width: 100%;
            }
        }
    }
}
