.imageSet {
    &.loading{
        background: linear-gradient(90deg, #f2f2f2 25%, #fff 50%, #f2f2f2 75%);
        background-size: 200% 100%;
        animation: loading 1.5s infinite;
    }
}
  
// @media only screen and (width <= 992px) {
//     .imageSet {
//     }
// }
  

// .skeleton {
//     width: 100%;
//     height: 100%;
//     background-color: #000;
//     border-radius: 4px;
//     position: absolute;
//     overflow: hidden;
    
// }

/* Definição da animação */
@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}