.inputUpload {    
    display: flex;
    flex-direction: column;
    gap:1rem;

    .title {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text-title-color);
    } 

    .control{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        input {        
            &[type="file"]{
                display: none;
            }
        }
  
        button {
            border-radius: 1rem;
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            svg{
                font-size: 2rem;
            }
        }      
    }  
    
    .shippingMethods {
        display: flex;
        flex-direction: column;
        gap:1rem;

        &:empty{
            display: none;
        }

        svg{
            cursor: pointer;
            font-size: 2rem;
        }

        .shipping {
            display: flex;
            font-size: 1.4rem;
            padding: 1rem;
            width: 100%;  
            border-bottom: solid 1px var(--border-color);
            justify-content: space-between;
            align-items: center;
        }
    }
}