.payments{
    .payment{
        label{
            font-size: 1.2rem;
            padding: 0.5rem;
        }

        .items{
            display: flex;
            flex-direction: column;
            background: antiquewhite;
            padding: 1rem;
            border-radius: 1rem;
            margin: 0.5rem 0;

            p {
                font-size: 1.2rem;
                padding: 0.5rem;
                margin: 0;
                border-bottom: solid 1px #999;

                &:last-child{
                    border-bottom: 0;
                }
            }
        }     
    }    
}