.trackBack {
    margin-bottom: 2.5rem;
    width: 100%;

    .content {
        max-width: var(--max-width);

        //padding: 0 5rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .stages {
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 18% 10%;
            border-radius: 1rem;

            // padding: 1rem;
            width: 100%;

            .stage {
                width: 100%;

                .stageItem {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        // border: 1px solid var(--background-black);
                        border-radius: 999px;
                        height: 14rem;
                        width: 14rem;
                        padding: 1rem;

                        .imageNotActive {
                            display: block;
                            max-width: 12rem;
                            max-height: 8rem;
                            object-fit: cover;

                            &.activeStatus {
                                display: none;
                            }

                            &.currentStatus {
                                display: none;
                            }

                            &.activeStatusCanceled {
                                display: none;
                            }
                        }

                        .imageActive {
                            display: none;

                            &.activeStatus {
                                display: block;
                                max-width: 12rem;
                                max-height: 8rem;
                                object-fit: cover;
                            }

                            &.currentStatus {
                                display: block;
                                max-width: 12rem;
                                max-height: 8rem;
                                object-fit: cover;
                            }
                        }

                        .imageActiveCanceled {
                            display: none;

                            &.activeStatusCanceled {
                                display: block;
                                max-width: 12rem;
                                max-height: 8rem;
                                object-fit: cover;
                            }
                        }

                        svg {
                            color: black;
                            font-size: 2rem;
                        }

                        .nameStatus {
                            color: var(--text-color);
                            font-size: 1.2rem;
                            text-align: center;
                            padding-top: 1rem;

                            &.activeStatusCanceled {
                                display: none;
                            }
                        }

                        .nameStatusCanceled {
                            display: none;

                            &.activeStatusCanceled {
                                display: block;
                                color: red;
                                font-size: 1.5rem;
                                text-align: center;
                            }
                        }
                    }

                    .divisor {
                        border: 1px solid var(--border-color);
                        width: 100%;
                    }
                }

                .status {
                    // background-color: #add8e6;
                    display: none;

                    // border: 1px solid var(--border-color);
                    border-radius: 0.5rem;
                    padding: 1rem;
                    width: 100%;

                    .message {
                        color: var(--color-text-track-back);
                        font-size: 1.5rem;
                        text-align: center;

                        p {
                            span {
                                color: var(--color-text-track-back) !important;
                            }
                        }
                    }

                    &.currentStatus {
                        display: block;
                        background: var(--background-track-back);
                    }
                }

                .arrow {
                    display: none;

                    &.currentStatus {
                        display: block;
                        color: black;
                        font-size: 3rem;
                        margin-left: 3.5rem;
                    }
                }
            }

            .stage:last-child {
                .stageItem {
                    display: initial;

                    .divisor {
                        border: none;
                    }
                }

                .status {
                    width: 100%;
                }
            }
        }

        .stagesDescription {
            display: flex;
            align-items: center;
            width: 100%;

            .status {
                // background-color: #add8e6;
                display: none;

                // border: 1px solid var(--border-color);
                border-radius: 0.5rem;
                padding: 1rem;
                width: 100%;

                .message {
                    color: var(--color-text-track-back);
                    font-size: 1.5rem;
                    text-align: center;

                    p {
                        span {
                            color: var(--color-text-track-back) !important;
                        }
                    }
                }

                &.currentStatus {
                    display: block;
                    background: var(--background-track-back);
                }
            }
        }

        .interactions {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .interaction {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
                border: 1px solid var(--border-color);
                border-radius: 1rem;
                padding: 1rem;
                height: 17rem;
                width: 100%;

                h1 {
                    color: black;
                    font-size: 2rem;
                }

                h2 {
                    color: black;
                    font-size: 1.5rem;
                }

                .message {
                    color: black;
                    font-size: 1.8rem;
                    text-align: center;
                }

                button {
                    background-color: var(--background-black);
                    border: none;
                    border-radius: 0.5rem;
                    color: var(--color-checkout-button);
                    font-size: 1.5rem;
                    padding: 1rem;
                    transition: all 0.35s ease;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .trackBack {
        .content {
            padding: 0;
            
            .stages {
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;

                .stage {
                    .stageItem {
                        flex-direction: column;

                        .item {
                            height: 90px;
                            width: 90px;

                            .imageNotActive {
                                max-height: 6rem;
                            }

                            .imageActive {
                                &.activeStatus {
                                    max-height: 6rem;
                                }

                                &.currentStatus {
                                    max-height: 6rem;
                                }
                            }

                            .imageActiveCanceled {    
                                &.activeStatusCanceled {
                                    max-height: 6rem;
                                }
                            }

                            .nameStatus {
                                font-size: 1.2rem;
                            }

                            .nameStatusCanceled {    
                                &.activeStatusCanceled {
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        .divisor {
                            border: none;
                        }
                    }

                    svg {
                        display: none !important;
                    }

                    .status {
                        width: 100%;

                        .message {
                            font-size: 1rem;

                            p {
                                span {
                                    font-size: 1rem !important;
                                }
                            }
                        }
                    }

                    .arrow {
                        display: none;

                        &.currentStatus {
                            margin-left: 3rem;
                        }
                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .numberSequence {
                            background-color: var(--background-black);
                            border: none;
                            border-radius: 1rem;
                            color: var(--color-checkout-button);
                            font-size: 1.5rem;
                            margin-top: 1rem;
                            padding: 1rem;
                            transition: all 0.35s ease;

                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                        }
                    }
                }

                .stage:last-child {
                    .stageItem {
                        display: flex;
                    }
                }
            }

            .interactions {
                grid-template-columns: 1fr;

                .interaction {
                    height: 100%;

                    h1 {
                        font-size: 2rem;
                    }

                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
