.inputCoupon {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 1.6rem;
    }

    input[readOnly] {
        background-color: #d2d2d2;
    }

    > div {
        display: flex;

        button {
            border-radius: 0;
            padding: 10px;
            width: 50%;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            height: 4rem;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-family: var(--font-family-button);

            &:hover {
                cursor: pointer;
            }

            &.cancelButton {
                background-color: var(--button-submit-background);

                //background-color: rebeccapurple;
            }
        }

        input {
            width: 50%;
            height: 40px;
            padding-left: 10px;
            border-radius: 0;
            border: 1px solid var(--border-color);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
}