.assessmentsSlider {
    background-color: var(--gray-200);
    padding: 2rem 0;
    width: 100%;

    .content {
        width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            color: var(--text-color);
            font-size: 3rem;
            font-weight: 400;

            /* margin-bottom: 2rem; */
            text-align: center;

            //text-transform: uppercase;
            line-height: 5rem;
        }

        .sliderComments {
            button {
                background-color: var(--border-color);
                border: 0;
                border-radius: 50%;
                height: 2em;
                padding: 0;
                opacity: 0.7;
                transition: all 0.15s ease;

                svg {
                    background: transparent;
                    fill: black;
                    font-size: 2rem;
                    padding: .3rem;
                }
            }

            :global(.splide__pagination) {
                display: none;
            }

            .cardComments {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                // border: 1px solid var(--border-color);
                // border-radius: .5rem;
                padding: 1rem;
                height: 100%;
                width: 100%;

                .top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.5rem;
                    height: 100%;
                    
                    .title {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                        font-weight: bold;
                    }

                    .comment {
                        color: black;
                        font-size: 1.3rem;
                        padding: 0 3.5rem;
                        text-align: center;
                    }
                }

                .nameProduct {
                    color: black;
                    cursor: pointer;
                    font-size: 1.7rem;
                    text-decoration: underline;
                }

                .date {
                    color: gray;
                    font-size: 1.4rem;
                }
            }
        }

        .gridTeste {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10rem;

            .assessment {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                // height: 8rem;

                .initial {
                    position: relative;

                    p {
                        position: absolute;
                        top: -7rem;
                        left: -3rem;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 6rem;
                        height: 6rem;
                        background-color: var(--primary-color);
                        border-radius: 50%;
                        color: white;
                        font-size: 2.5rem;
                        padding: 2rem;
                        text-transform: uppercase;
                    }
                }

                .body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid black;
                    border-radius: 1rem;
                    max-height: 7rem;
                    height: 7rem;
                    overflow-y: auto;
                    padding: 1rem 2rem;
                    width: 100%;

                    p {
                        text-align: center;
                    }
                }

                .imageProduct {
                    position: absolute;
                    top: -1.5rem;
                    right: -7rem;
                    width: 35%;

                    .img {
                        border-radius: 50%;
                        cursor: pointer;
                        width: 95px;
                        height: auto;
                    }
                }
            }
        }

        .more {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 4rem;

            p {
                display: flex;
                align-items: center;
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .assessments {
        .content {
            padding: 0 1rem;

            .gridTeste {
                grid-template-columns: repeat(3, 300px);
                gap: 3rem;
                overflow-x: scroll;
                height: 15rem;

                .assessment {
                    .initial {
                        p {
                            top: -6.5rem;
                            left: 0;
                            font-size: 1.5rem;
                            width: 3rem;
                            height: 3rem;
                        }
                    }

                    .body {
                        padding: 1rem 6rem 1rem 2rem;
                    }

                    .imageProduct {
                        top: 4rem;
                        right: -3rem;
                        width: 25%;
                    }
                }
            }
        }
    }
}
