.renderOnLoad{
    width: 100%;

    &:empty{
        display: none;
    }

    .content {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// @media only screen and (width <= 992px) {
//     .content {
//     }
// }
