.container {
    display: flex;
    align-items: center;
    justify-content: center;

    //padding: 0 30px;
    //margin: 5rem 0;

    .content {
        width: 60rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        margin: 4rem 0;

        .title {
            font-size: 2.5rem;
        }

        .subtitle{
            text-align: center;
            padding: 0.5rem;

            a{
                text-decoration: underline;
                cursor: pointer;
            }
        } 

        .backLink{
            a{
                cursor: pointer;
            }
        }

        .inputControl {
            width: 100%;

            a {
                display: inline-block;
                text-align: center;
                cursor: pointer;
                width: 100%;
            }

            .inputPassword {
                width: 100%;
                position: relative;

                .iconPassword {
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    bottom: 12px;
                    color: #a1a1a1;
                    font-size: 20px;
                    z-index: 2;
                    cursor: pointer;
                }
            }
        }

        input {
            width: 100%;
            font-size: 16px;
            padding: 12px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
        }

        button {
            width: 100%;
            border: #333 solid 1px;
            height: 5rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.6rem;
            transition: all 0.5s ease;
            background: var(--button-background);
            color: var(--button-color);

            &:hover {
                opacity: 0.7;
            }

            &.submitted {
                background: var(--button-submit-background);
                color: var(--button-submit-color);
                border: 1px solid var(--button-submit-background);
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .container {
        padding: 0 1.5rem;
        margin: 3rem 0;

        .content {
            width: 100%;
            max-width: var(--max-width);
            margin: 3rem 0;

            .title {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
    }
}
