.filterProductsSize {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    // border-bottom: 1px solid #e1e1e1;
    // background-color: white;
    // padding: 15px;

    @media only screen and (width <= 1024px) {
        align-items: flex-start;
        margin-top: 0;
    }

    .sizeList {
        display: flex;
        gap: 1rem;

        small {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #e1e1e1;
            cursor: pointer;
            font-weight: 400;
            font-size: 12px;
            border-radius: 10px;
            padding: 10px;

            @media only screen and (width <= 1024px) {
                font-size: 1.1rem;
                padding: 0;
                width: 100%;
                height: 35px;
            }

            &.active {
                background-color: black;
                color: white;
            }
        }

        .cleanFilterText {
            background-color: white;

            // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.222);
            border: 1px solid black;
            color: black;
            cursor: pointer;
            font-size: 1.3rem;
            padding: 0.5rem;
        }

        .cleanFilter {
            display: flex;
            align-items: center;
            justify-content: center;

            // background: red;
            border: 1px solid black;

            // width: 40px;
            // height: 40px;
            padding: 10px;
            cursor: pointer;

            @media only screen and (width <= 1024px) {
                width: 35px;
                height: 35px;
            }

            svg {
                font-size: 2rem;

                @media only screen and (width <= 1024px) {
                    font-size: 2rem;
                }
            }
        }
    }
}