.checkoutForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    min-height: 100%;
    flex-direction: column;
  
    .security{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 2rem auto;
        max-width: var(--max-width);
        width: 100%;
        justify-content: flex-end;
        padding: 0.5rem;

        img{
            width: 300px;
        }

        p{
            font-size: 1.3rem;
            width: 250px;
            font-style: italic;
        }
    }

    .content {
        position: relative;
        width: 100%;
        max-width: var(--max-width);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 30px;
        margin: 0 auto;
  
        .checkoutStepper {
            display: flex;

            //justify-content: center;
            flex-direction: column;

            .logo {
                width: 10rem;
                margin: 0 auto;
                cursor: pointer;
                margin-bottom: 2rem;
            }
        }	  
  
        .checkoutCart{
            background: #f1f1f1;  

            .body {
                padding: 0 30px;
  
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 0;
  
                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--border-color);
                    }
  
                    .product {
                        display: flex;
                        align-items: flex-start;
  
                        .img {
                            width: 5rem;

                            //height: 8rem;
                            background: var(--border-color);
                            margin-right: 15px;
                            overflow: hidden;
                            border-radius: 4px;
  
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
  
                        .info {
                            font-size: 14px;

                            .productName {
                                font-weight: 600;
                                font-size: 14px;
                                margin-bottom: 1rem;
                            }
                        }
                    }
  
                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--markup-color);
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
  
            .checkoutCoupon {
                margin: 10px 0;
                padding: 0 30px;
                display: flex;
                flex-direction: column;
  
                label {
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                }
  
                > div {
                    display: flex;
  
                    button {
                        padding: 0.5rem;
                        height: auto;
                        flex: 1;
                        border-radius: 4px;
                        border: 1px solid var(--border-color);
                        background: var(--button-background);
                        color: var(--button-color);

                        &:hover {
                            cursor: pointer;
                        }
                    }
  
                    input {
                        flex: 1;
                        margin-right: 1rem;
                        border-radius: 4px;
                        border: 1px solid var(--border-color);
                        padding: 12px;
                        height: 45px;
                    }
                }
            }
  
            .checkoutResume {
                margin: 30px 0;
                padding: 0 30px;
  
                .checkoutSubtotal {
                    padding: 10px 0;
                    border-top: 1px solid #c3c3c3;
                    border-bottom: 1px solid #c3c3c3;

                    p {
                        font-size: 16px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
  
                .checkoutTotal {
                    margin-top: 20px;
  
                    p {
                        font-weight: 600;
                        font-size: 16px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
  
            .uploadFileCart {
                padding: 0 30px;
  
                .title {
                    margin: 20px 0;
                    font-size: 18px;
                    font-weight: 600;
                }
  
                .fileInput {
                    width: 100%;
                    margin-bottom: 10px;
                    position: relative;
                    cursor: pointer;
  
                    input {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
  
                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        padding: 5px 15px;
                        width: 100%;
                        display: flex;
                        font-size: 14px;
                        align-items: center;
                        background: white;
                        border-radius: 4px;
                        border: 1px solid var(--border-color);
                        pointer-events: none;
                        cursor: pointer !important;
  
                        svg {
                            font-size: 15px;
                            margin-right: 10px;
                            color: var(--blue);
                            cursor: pointer;
                        }
                    }
  
                    .loadingUploadFile {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                    }
                }
  
                .uploadWarning {
                    width: 100%;
                    font-size: 14px;
                    margin-top: 20px;
                }
  
                .lensWarning {
                    font-size: 14px;
                    margin-top: 10px;
                    color: red;
                    font-weight: 600;
                }
            }
        }  
    }

    .checkoutHeader {
        display: none;
        padding: 15px 0;

        .title {
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
        }		 
    }
  
    .backToCart {
        font-size: 16px;
        font-weight: 100;
        margin-left: 20px;
        cursor: pointer;
    }
}
  
@media only screen and (width <= 992px) {
    .checkoutForm {
        padding: 0 1.5rem;
  
        .security{
            flex-direction: column;
        }

        .content {
            position: relative;
            width: 100%;
            max-width: var(--max-width);
            display: flex;
            flex-direction: column-reverse;

            .checkoutHeader{
                display: block;
            }

            .checkoutCart{
                .body, .checkoutCoupon, .checkoutResume{
                    padding: 0 15px;
                }
            }
  
            .checkoutStepper {
                padding: 0;
            }  
        }
    }
}
  