.loginPage2 {
    padding: 0 1.5rem;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
    }
}

@media only screen and (width <= 992px) {
    .loginPage2 {
        gap: 2rem;    
    }
}