.productItemSkeletonCart {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 15px;
    align-items: center;
    width: 100% !important;

    .productActions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 1.2rem;
            font-family: "SF UI Text Semibold";
            font-weight: bold;
            color: #333;
        }

        .actions {
            display: flex;
            align-items: center;

            > img,
            span,
            span img {
                cursor: pointer;
                margin-left: 1.5rem;
                max-width: 20px !important;
            }
        }
    }
}
