.sizeTable {  
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .message {
            font-size: 18px;
            margin-bottom: 1rem;

            span {
                font-weight: 600;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 2rem;
        }

        table,
        th,
        td {
            border-bottom: 1px solid black;
        }

        td {
            text-align: center;
            padding: 10px 5px;
            font-weight: 600;
            font-size: 1.4rem;
        }

        td span {
            font-weight: normal;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }
    }
}

@media (width <= 1600px) {
    .sizeTable {
        .content {
            td {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .sizeTable {
        .content {
            td {
                font-size: 1rem;
            }
        }
    }
}

// @media only screen and (width <= 855px) {
  
// }
