.packaging {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: var(--background-color-packaging);
            border-radius: 0.5rem;
            padding: 2rem 0;
            width: 100%;

            h1 {
                color: white;
                font-size: 2rem;
                text-transform: uppercase;
            }

            h4 {
                color: white;
                font-size: 1.5rem;
            }

            .message {
                display: flex;
                align-items: center;
                gap: 1rem;

                svg {
                    color: white;
                    font-size: 6rem;
                    margin-right: 1.5rem;
                    animation: tiltShaking 0.2s infinite;
                }

                .informationsMessage {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    p {
                        color: white;
                        font-size: 2.3rem;
                        line-height: 2.5rem;
                        margin-top: 0.5rem;
                    }

                    button {
                        border-radius: 0.5rem;
                        color: var(--button-color);
                        cursor: pointer;
                        margin-top: 0;
                        width: 50%;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            button {
                background: var(--button-background);
                color: var(--button-color);
                border: none;
                margin-top: 2.5rem;
                padding: 1rem 2rem;
            }
        }
    }
}

.modalPackaging {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 30%);
    height: 100vh;
    width: 100%;
    z-index: 20;

    .container {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 5px;
        padding: 1.5rem;
        width: 60%;
        height: 95%;
        overflow-y: auto;

        .top {
            position: relative;

            svg {
                position: absolute;
                top: -1.5rem;
                right: -0.5rem;
                z-index: 2;
                background-color: black;
                border-radius: 50%;
                cursor: pointer;
                color: white;
                font-size: 2.3rem;
                margin-top: 0.5rem;
                padding: 0.5rem 0;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 5px;

            .itemPackaging {
                // display: flex;
                // align-items: center;
                // justify-content: space-between;

                // background: var(--background-color-gifts);
                border: 1px solid var(--border-color);
                border-radius: 1rem;
                padding: 1rem;

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .product {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .img {
                        width: 100px;

                        // height: 100px;
                        background: var(--border-color);
                        margin: 1rem 1.5rem 1rem 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    .productName {
                        color: black;
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    .price {
                        color: var(--secondary-color);
                        font-size: 1.4rem;
                        font-weight: 600;
                    }

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 23%;
    
                        button {
                            background: var(--button-background-gifts);
                            border: solid 1px #fff;

                            // color: var(--button-color);
                            color: white;
                            font-size: 1.4rem;
                            padding: 0.7rem 1.5rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .packaging {    
        .content {    
            .body {
                padding: 2rem;
    
                .message {
                    display: grid;
                    grid-template-columns: 80px 1fr;
                    gap: 0;

                    svg {
                        font-size: rem;
                    }
    
                    .informationsMessage {    
                        p {
                            font-size: 1.8rem;
                        }
    
                        button {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    
    .modalPackaging {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(0 0 0 / 30%);
        height: 100vh;
        width: 100%;
        z-index: 20;
    
        .container {
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 5px;
            padding: 1.5rem;
            width: 95%;
            height: 95%;
    
            .top {
                position: relative;
    
                svg {
                    position: absolute;
                    top: -1rem;
                    right: -0.5rem;
                    z-index: 2;    
                    background-color: black;
                    border-radius: 50%;
                    cursor: pointer;
                    color: white;
                    font-size: 2.3rem;
                    margin-top: 0.5rem;
                    padding: 0.5rem 0;
                }
            }
    
            .body {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 5px;
    
                .itemPackaging {    
                    .product {
                        flex-direction: column;
                        gap: 1rem;
    
                        .actions {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}