.loadingPage {
    padding: 0 1.5rem;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        min-height: 80vh;
        justify-content: center;
        display: flex;
    }
}