.comments {
    margin-top: 5rem;

    .content {
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;

        h1 {
            color: var(--color-comments);
            font-size: 2.2rem;
            text-align: center;
        }

        .assessment {
            text-align: center;
            margin: 3rem 0;

            .assessmentNumber {
                color: black;
                font-weight: 800;
                font-size: 45px;

                span {
                    font-size: 35px;
                }
            }

            .assessmentStar {
                margin: 20px 0 15px;                
                justify-content: center;
                display: flex;
            }

            .text {
                color: #96a0aa;
                font-size: 16px;
            }
        }

        form {
            margin-bottom: 6rem;

            .input {
                margin-top: 1.5rem;

                textarea {
                    border: 1px solid gray;
                    border-radius: 5px;
                    font-size: 17px;
                    padding: 10px;
                    width: 100%;
                }
            }

            button {
                background: var(--primary-color);
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 18px;
                margin-top: 1rem;
                padding: 10px 15px;
                text-transform: uppercase;
                transition: all 0.5s ease;
                width: 20%;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .comments {
        .content {
            form {
                button {
                    width: 100%;
                }
            }
        }
    }
}
