.container {
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--max-width);

    //padding: 0 30px;
    //margin: 5rem 0;

    .content {
        // width: 80rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5rem 0;

        .contentForm{
            width: 50%;

            .title{
                margin-bottom: 5rem;
            }

            .buttons{
                flex-direction: column;
                gap: 1rem;
            }
        }

        .title {
            font-size: 2.2rem;
            text-align: center;
        }

        .inputControl {
            width: 100%;
            margin-bottom: 2rem;

            .inputPassword {
                width: 100%;
                position: relative;

                .iconPassword {
                    position: absolute;
                    right: 10px;
                    bottom: 12px;
                    color: #a1a1a1;
                    font-size: 20px;
                    z-index: 2;
                    cursor: pointer;
                }
            }

            a {
                justify-content: center;
                cursor: pointer;
                display: flex;
                font-size: 1.5rem;
            }
        }

        input {
            width: 100%;
            font-size: 16px;
            padding: 12px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .contentButtons{
            width: var(--width-content-buttons, 70%);
        }

        .buttons {
            width: 100%;
            display: flex;

            // flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            // gap: 15px;
            gap: 3rem;

            .right {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                border-right: 1px solid var(--border-color);
                padding-right: 3rem;
                width: 100%;

                h1 {
                    color: black;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-bottom: 5rem;
                }
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: 8rem;
                width: 100%;

                h1 {
                    color: black;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-bottom: 5rem;
                }
            }
        }

        button {
            width: 100%;
            border: var(--button-background) solid 1px;
            height: 5rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.6rem;
            transition: all 0.5s ease;
            background: var(--button-background);
            color: var(--button-color);
            font-family: var(--font-family-button);

            &:hover {
                opacity: 0.7;
            }

            &.submitted {
                background: var(--button-submit-background);
                color: var(--button-submit-color);
                border: 1px solid var(--button-submit-background);
            }
        }
    }
}

@media only screen and (width <= 992px) {
    .container {
        .content {
            margin: 3rem 0;

            .title {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 20px;
            }

            .contentForm{
                width: 100%;
            }

            .contentButtons{
                width: 100%;
            }

            .buttons {
                flex-direction: column;

                .right {
                    border-right: 0;
                    border-bottom: 1px solid var(--border-color);
                    padding-right: 0;

                    h1{
                        margin-bottom: 2rem;
                    }
                }

                .left {
                    gap: 1.5rem;

                    h1{
                        margin-bottom: 2rem;
                    }
                }

                button {
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@supports not (display: grid) {
    .container {
        .content {
            button {
                margin-bottom: 1rem;
            } 

            button:last-child {
                margin-bottom: 0;
            }
        }
    }
}
