.productVariantSelector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 100%;

    .title {
        font-size: var(--font-medium-size);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--text-title-color);
    }

    .outStock {
        p {
            background-color: lightgray !important;
            color: #000 !important;
            font-weight: 600;
            background: linear-gradient(to top left, lightgray 0%, lightgray calc(50% - 0.8px), rgb(255 0 0) 50%, lightgray calc(50% + 0.8px), lightgray 100%) !important;
        }

        .itemQuantity{
            background-color: lightgray;
            overflow: hidden;
            border-radius: 1rem;
        }
    }

    // .inStock {
    //     p{
    //     }
    // }

    .productVariant {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &.select {
            gap: 1rem;
            width: 100%;

            .nameVariant{
                width: 30%;
            }

            .variantItem {
                width: 70%;
            }             
        }

        .row{
            width: 100%;
            gap:1rem;

            &.selected {
                .col{
                    p{
                        background-color: #000;
                        color: #ffff;        
                    }
                }

                .productImage{
                    border: solid 2px #000;
                }
            }

            .col{
                width: 100%;

                .colorVariantText{
                    cursor: pointer;
                    position: relative;
                    border: 1px solid var(--border-color);
                    background: #fff;
                    border-radius: 5px;
                    text-align: center;
                    width: 100%;
                    height: 35px;
                    align-items: center;
                    display: flex;
                    justify-content: center;              
                }

                &.colImage{
                    .productImage{
                        max-width: 100px;
                        overflow: hidden;
                        cursor: pointer;    
                        border-radius: 1rem;
                    }
                }
            }    
        }        

        &.gridHorizontal, &.matrix
        {
            width: 100%;
            gap:1rem;
            flex-direction: column;
            overflow: scroll;

            .row{
                display: flex;

                .head{
                    //min-width: 64px;
                }
            }

            .productImage{
                display: none;
            }            
        }

        &.gridVertical
        {
            width: 100%;
            gap:1rem;

            .row{
                display: grid;
            }
        }  

        .nameVariant {
            font-size: var(--font-medium-size);
            font-weight: 600;
            text-transform: uppercase;
            color: var(--text-title-color);
        }

        .variantDisabled {
            background-color: #f2f2f2;
            color: #666 !important;

            svg {
                color: red !important;
            }
        }

        .variantItem {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            width: 100%;

            .selected {
                .colorVariantImage{
                    border: solid 2px #000;
                    padding: 0.2rem;
                    background-color: #fff;
                }

                .colorVariantText {
                    background-color: #000;
                    color: #ffff;
                }
            }
            
            .colorVariantImage {
                width: 30px;
                height: 30px;
                cursor: pointer;

                //margin-right: 8px;
                position: relative;

                // border: 1px solid var(--text-color-secondary);
                border: 1px solid var(--border-color);
                border-radius: 50%;

                // border-radius: 5px;
                // padding: 0.5rem;
                text-align: center;

                &.colorVariantImageHeader{
                    visibility: hidden;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                &:focus {
                    border: 1px solid black;
                }

                svg {
                    color: black;
                    position: absolute;
                    top: -15px;
                    left: 15px;
                    width: 30px;
                    height: 30px;
                }

                // &:last-child {
                //   margin-right: 0;
                // }
            }

            .colorVariantText {
                width: auto;

                // height: 20px;
                cursor: pointer;

                //margin-right: 5px;
                position: relative;

                // border: 1px solid var(--text-color-secondary);
                border: 1px solid var(--border-color);
                background: #fff;

                // border-radius: 50%;
                border-radius: 5px;
                padding: 0.5rem;
                text-align: center;

                // margin-right: 0.5rem;

                &:focus {
                    border: 1px solid black;
                }
            }
        }

        .numberSize {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: flex-end;

            .sizes {
                position: relative;

                .close {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    z-index: 1;

                    svg {
                        color: red;
                        font-weight: 600;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .check {
                    position: absolute;
                    top: -1rem;
                    right: -1rem;
                    z-index: 1;

                    svg {
                        color: green;
                        font-weight: bold;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .sizeVariant {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                cursor: pointer;
                color: black;
                font-size: 1.2rem;
                font-weight: bold;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                position: relative;

                &.selected {
                    background-color: black;
                    color: #ffff;
                }

                &.disabled {
                    background-color: lightgray;
                    color: black;
                    border-color: lightgray;
                }
            }
        }

        > div {
            font-size: var(--font-medium-size);
        }
    }    

    .buyButton,
    .soldOff {
        width: 100%;

        button {
            width: 100%;

            span {
                font-size: var(--font-medium-size);
                font-weight: 600;
                text-transform: uppercase;
                color: #ffff;
            }
        }        
    }

    .productTable {
        width: 100%;

        // .outStock:nth-child(odd) {
        //     .itemQuantity {
        //         background-color: lightgray;
        //         border-bottom: 2px solid lightgray;

        //         span {
        //             border-top: transparent;
        //             border-bottom: transparent;
        //             color: transparent;
        //         }
        //     }
        // }

        .outStock {
            .itemQuantity {
                background-color: lightgray;
                border-bottom: 2px solid lightgray;
                border-radius: 0;

                span {
                    border-top: transparent;
                    border-bottom: transparent;
                    color: transparent;
                }
            }
        }

        .itemQuantity {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .productSoldOf {
            width: 100%;

            .titleSoldOf {
                font-size: 2.9rem !important;
                font-weight: 400 !important;
                text-transform: uppercase;
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                background-color: lightgray;
                padding: 0.7rem;
                width: 100%;

                form {
                    width: 100%;

                    input {
                        border-radius: 0;
                        border: 1px solid black;
                        color: black;
                        font-size: 1.3rem;
                        padding: 0.5rem;
                        width: 100%;
                    }
                }
            }
        }

        table {
            border-collapse: collapse;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 0;
            margin-top: 1rem;
            width: 100%;

            tbody {
                tr:first-child {
                    justify-content: center;

                    // height: 100%;
                }
            }
        }

        td {
            border: 1px solid var(--border-color);
        }

        thead {
            display: flex;
            width: 100%;

            tr:first-child {
                border-right: 1px solid var(--border-color);
            }

            tr:nth-child(even) {
                td {
                    // background-color: red;
                    border-right: 1px solid transparent;
                    border-left: 1px solid transparent;
                }
            }

            tr {
                // border-left: 1px solid var(--border-color);
                width: 100%;

                td {
                    border-top: 0;
                    border-bottom: 0;
                }
            }

            .variantItem {
                width: 98%;

                .variantItemImage {
                    img {
                        max-width: 4rem;
                        max-height: 6rem;
                        object-fit: cover;
                    }
                }
            }

            tr {
                td {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    font-weight: 700;
                    height: 35px;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        tbody {
            display: flex;

            tr:first-child {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }

            td:nth-child(odd) {
                border-left: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            tr:last-child {
                td {
                    border-right: 1px solid transparent;
                }
            }

            tr {
                display: flex;
                flex-direction: column;
                width: 100%;

                .selected {
                    .colorVariantImage {
                        border: solid 2px #000;
                        padding: 0.2rem;
                        background-color: #fff;
                    }

                    .colorVariantText {
                        background-color: #000;
                        color: #ffff;
                    }
                }

                td {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    height: 100%;

                    .colorVariantImage {
                        position: relative;

                        // border: 1px solid var(--border-color);
                        border-radius: 50%;
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        text-align: center;

                        &.colorVariantImageHeader {
                            visibility: hidden;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }

                        &:focus {
                            border: 1px solid black;
                        }

                        svg {
                            color: black;
                            position: absolute;
                            top: -15px;
                            left: 15px;
                            width: 30px;
                            height: 30px;
                        }

                        &.selected {
                            position: relative;
                            border-radius: 50%;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                        }
                    }

                    .nameColor {
                        color: #2e2b26;
                        font-size: 1rem;
                    }
                }
            }
        }

        // table,
        // th,
        // td:nth-child(odd) {
        //     border-right: 1px solid transparent;
        // }

        td {
            // border-top: 1px solid var(--border-color);
            // border-left: 1px solid var(--border-color);
            // border-right: 1px solid var(--border-color);
            // border: 1px solid var(--border-color);
        }

        td {
            text-align: center;
            padding: 10px 5px;
            font-weight: 600;
            width: 100%;
        }
    }
}

@media only screen and (width <= 992px) {
    .productVariantSelector { 
        .productVariant {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;

            &.select {
                .nameVariant{
                    width: 100%;
                }

                .variantItem {
                    width: 100%;
                }             
            }
        }

        .productTable {
            width: 100%;

            // .outStock:nth-child(odd) {
            //     .itemQuantity {
            //         background-color: lightgray;
            //         border-bottom: 2px solid lightgray;

            //         span {
            //             border-top: transparent;
            //             border-bottom: transparent;
            //             color: transparent;
            //         }
            //     }
            // }

            .outStock {
                .itemQuantity {
                    background-color: lightgray;
                    border-bottom: 2px solid lightgray;
                    border-radius: 0;

                    span {
                        border-top: transparent;
                        border-bottom: transparent;
                        color: transparent;
                    }
                }
            }

            .itemQuantity {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .productSoldOf {
                width: 100%;

                .titleSoldOf {
                    font-size: 2.9rem !important;
                    font-weight: 400 !important;
                    text-transform: uppercase;
                }

                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.5rem;
                    background-color: lightgray;
                    padding: 0.7rem;
                    width: 100%;

                    form {
                        width: 100%;

                        input {
                            border-radius: 0;
                            border: 1px solid black;
                            color: black;
                            font-size: 1.3rem;
                            padding: 0.5rem;
                            width: 100%;
                        }
                    }
                }
            }

            table {
                margin-bottom: 0;
                margin-top: 1rem;

                tbody {
                    tr:first-child {
                        justify-content: center;

                        // height: 100%;
                    }
                }
            }

            thead {
                display: flex;
                width: 100%;

                tr:first-child {
                    td {
                        border-left: 0;
                        border-right: 0;
                    }
                }

                tr {
                    border-left: 0;
                    width: 100%;

                    td {
                        border-top: 0;
                    }
                }

                .variantItem {
                    width: 98%;

                    .variantItemImage {
                        img {
                            max-width: 4rem;
                            max-height: 6rem;
                            object-fit: cover;
                        }
                    }
                }

                tr {
                    td {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        font-weight: 700;
                        height: 35px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            tbody {
                display: flex;

                tr {
                    td {
                        justify-content: center;

                        .nameColor {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            td {
                text-align: center;
                padding: 10px 5px;
                font-weight: 600;
                width: 100%;
            }

            .informations {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin: 1.5rem 0;
                width: 100%;

                p {
                    color: var(--border-color);
                }

                .trash {
                    text-decoration: underline;
                }

                .infortionQunatity {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .total {
                        font-size: 1.8rem;
                        font-weight: 500;

                        strong {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
