.bannersCarousel{
    width: 100%;

    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    img {
        cursor: pointer;
    }

    button {
        background: transparent;
        padding: 0;
        border: 0;

        svg {
            background: transparent;
            font-size: 2rem;
        }
    }
}

//SMARTPHONE
@media only screen and (width <= 992px) {
    .bannersCarousel{
        .desktop{
            display: none;
        }

        .mobile{
            display: block;
        }
        
    }
}
