.MuiSvgIcon-root {
    width: 3rem !important;
    height: 3rem !important;
}

.MuiStepIcon-text {
    fill: #fff;
    font-size: 12px !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active {
    color: black !important;
}

@supports not (display: grid) {
    .css-p1ijuh-placeholder, .css-14el2xx-placeholder {
        margin-top: 2.5rem;
    }
}

.toast-custom {
    span {
        display: flex;
        flex-direction: column;

        button {
            background: var(--primary-color);
            border: none;
            border-radius: 5px;
            color: var(--text-color-primary);
            font-size: 16px;
            margin-top: 1rem;
            padding: 5px;
            text-transform: uppercase;
            transition: all 0.5s ease;
            width: 100%;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}

span.MuiStepLabel-label {
    font-size: 1.2rem;
}

div.MuiStep-root.MuiStep-horizontal {
    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
    }
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: seagreen !important;
}

svg.Mui-completed {
    color: seagreen !important;
}

.MuiPaper-root {
    background: white !important;
}

.MuiButton-label {
    text-transform: none;
} 

.pretty {  
    .state {
        label {
            font-size: 1.45rem !important;

            //margin: 0 !important;
            text-indent : 0 !important;
            line-height: 25px;
            text-wrap: wrap;
            margin-left: 35px !important; 

            &::before{
                width: 2.5rem !important;
                height: 2.5rem !important;

                //top: calc((0% - (100% - 2rem)) - 0.8rem) !important;
                top: calc(50% - 12.5px) !important;
            }

            &::after{
                width: calc(2.5rem) !important;
                height: calc(2.5rem) !important;

                //top: calc(0% - (100% - 1.2rem)) !important;          
                top: calc(50% - 12.5px) !important;
            }
        }
    }
}
