.embla {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .top {
        position: absolute;
        top: 1rem;
        right: 7rem;
        z-index: 100;

        svg {
            position: absolute;
            fill: white;
            width: 50px;
            height: 50px;
            cursor: pointer;

            path {
                stroke: white !important;
            }
        }
    }

    .embla__viewport {
        overflow: hidden;
        width: 100%;
        cursor: pointer;

        .embla__container {
            display: flex;
            -webkit-touch-callout: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            margin-left: -10px;

            // display: flex;
            // align-items: center;
            // justify-content: center;

            div {
                position: relative;
                min-width: 100%;
                width: 100%;
                padding: 25rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .button {
                position: absolute;
                z-index: 5;
                margin: 8rem 0;

                .title {
                    color: white;
                    font-size: 45px;
                    font-weight: 800;
                    text-align: flex-start;
                    position: relative;
                    transform: translate(28%, 90%);
                }

                button {
                    position: relative;
                    transform: translate(50%, 100%);
                    background: #d6f39e;
                    border: none;
                    border-radius: 5px;
                    color: black;
                    font-size: 16px;

                    //font-family: "Anonymous Pro";
                    font-weight: 700;
                    margin-top: 3.5rem;
                    padding: 10px;
                    text-transform: uppercase;
                    transition: all 0.5s ease;

                    &:hover {
                        color: white;
                        cursor: pointer;
                        background: #212121;
                    }
                }
            }

            .embla__slide {
                position: relative;
                min-width: 100%;
                padding-left: 10px;

                .desk {
                    width: 100%;

                    // height: 700px !important;
                }
            }
        }
    }

    .prevBtn,
    .nextBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        // color: var(--primary-color);
        color: var(--background-color);
        font-size: 40px;
        font-weight: bold;

        // background-color: white;
        // border-radius: 999px;
        // padding: 5px;
        cursor: pointer;

        &.prevBtn {
            left: 20px;
        }

        &.nextBtn {
            right: 20px;
        }
    }
}

@media only screen and (width <= 767px) {
    .embla {
        .embla__viewport {
            display: flex;
            align-items: center;
            justify-content: center;

            .embla__container {
                div {
                    padding: 0;
                }

                .embla__slide {
                    .mobile {
                        display: flex;
                        width: 100%;
                    }
                }
            }
        }

        .prevBtn,
        .nextBtn {
            font-size: 20px;

            &.prevBtn {
                left: 10px;
            }

            &.nextBtn {
                right: 10px;
            }
        }
    }
}