.trackingModal {
    position: fixed;
    inset: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 30%);

    .content {
        position: relative;
        background: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        padding: 5rem;
        width: 80%;
        height: auto;

        .wrapper {
            display: grid;
            grid-template-columns: 20% 70%;
            align-items: center;
            gap: 10rem;
        }

        .tableContent {
            display: flex;
            flex-direction: column;

            // align-items: flex-start;
        }

        .imgContent {
            text-align: center;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
            cursor: pointer;
        }

        p {
            padding: 1rem 0;
            font-size: 1.4rem;
        }

        .message {
            font-size: 18px;
            margin-bottom: 20px;

            span {
                font-weight: 600;
            }
        }

        .tabsTable {
            .titleTabs {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;

                button {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid transparent;
                    border-radius: 0;
                    cursor: pointer;
                    color: var(--text-color-secondary);
                    font-weight: 500;
                    font-size: 1.8rem;
                    padding: 1rem 2rem;

                    &:hover {
                        color: var(--dark-blue);
                    }

                    &[aria-selected="true"] {
                        border-bottom: 1px solid black;
                        color: black;
                        font-weight: 500;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 2rem;
        }

        .rowEmpty {
            td {
                border: none;
            }
        }

        th,
        td {
            border-bottom: 1px solid black;
        }

        td {
            text-align: center;
            padding: 10px 5px;
            font-weight: 600;
            font-size: 1.4rem;
        }

        td span {
            font-weight: normal;
            font-size: 12px;
            display: flex;
            flex-direction: column;
        }
    }
}

@media (width <= 1500px) {
    .trackingModal {
        .content {
            display: block;
            height: 99%;

            .wrapper {
                grid-template-columns: 20% 75%;
                gap: 3rem;
                height: 100%;
            }

            .tableContent {
                justify-content: center;
            }

            .imgContent {
                text-align: center;

                img {
                    width: initial;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (width <= 1024px) {
    .trackingModal {
        .content {
            width: 100%;
            overflow-y: scroll;
            height: 100%;
            margin-top: 0;
            justify-content: flex-start;
            padding: 2rem;

            table {
                margin-bottom: 2rem;
            }

            td {
                font-size: 1rem;
            }

            .imgContent {
                height: auto;

                img {
                    width: initial;
                    height: auto;
                }
            }

            .tabsTable {
                .titleTabs {
                    button {
                        font-size: 1.7rem;
                    }
                }
            }

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .close {
                position: fixed;
            }
        }
    }
}
