.showMore{
    display: flex;
    flex-direction: column;
    position: relative;

    &.less{
        .content{
            height: 300px;
            overflow: hidden;            
        }         

        .showMoreButton{
            &::before {
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 25rem;
                background-image: linear-gradient(hsl(0deg 0% 100% / 0%),#fff 95%,#fff);
                position: absolute;
            }
        }
    }

    .showMoreButton{
        width: 100%;
        display: flex;
        justify-content: center;       

        &::after {
            content: "";
            bottom: 21px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            position: absolute;
        }

        button{
            position: relative;
            z-index: 1;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 30px;
            padding: 9px 24px;
            min-width: 170px;
            border: 1px solid #ccc;
            font-size: 14px;
            font-weight: 400;
            color: #000;
            line-height: 20px;
        }
    }
} 