.productModalCarouselPhoto {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 101;
    width: 100%;
    display: flex;

    .top {
        position: absolute;
        top: 1rem;
        right: 7rem;
        z-index: 100;
        cursor: pointer;

        svg {
            position: absolute;
            width: 50px;
            height: 50px;
            cursor: pointer;            

            path {
                stroke: black !important;
            }
        }
    }

    .productImage {
        width: 100%;
        height: 100%;
        max-height: 100%;

        // overflow: auto;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            //width: 100%;
            // min-height: 100%;
            //height: 100%;
            max-width: 100vw;
            max-height: 100vh;
            object-fit: cover;
        }

        .zoom {
            display: flex;
            z-index: 100;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #333333e6;
            border-radius: 5px;
            overflow: hidden;

            @media only screen and (width <= 992px) {
                display: none;
            }

            .symbol {
                color: white;
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                padding: 1rem;
                transition: all 0.3s ease;

                &:hover {
                    background: white;
                    color: black;
                }
            }

            .ico {
                width: 4rem;
                height: 4rem;
                padding: 1rem;
                color: white;
                border-left: 1px dashed white;
                border-right: 1px dashed white;
                cursor: pointer;
            }
        }
    }

    .thumbsContent{
        width: 120px;

        //overflow: scroll;
        // ul{
        //     flex-direction: column;
        // }
        button{
            background: transparent;
            padding: 0;
            border: 0;

            svg{
                background: transparent;
                font-size: 2rem;
            }            
        }
    }

    .imagesContent{
        width: calc(100vw - 120px);

        button{
            background: transparent;
            padding: 0;
            border: 0;

            svg{
                background: transparent;
                font-size: 2rem;
            }            
        }
    }
}

@media only screen and (width <= 992px) {
    .productModalCarouselPhoto {
        background: #000;
        z-index: 1001;

        .top {
            background: #fff;
            right: 1rem;
            display: flex;
        }

        .thumbsContent{
            display: none;
        }

        .imagesContent{
            width: 100vw;
        }
    }
}
